<div class="md-padding" ng-cloak>
  <h1 class="md-title">Gender</h1>
  <div layout="row">
    <md-input-container>
      <label>Select Gender</label>
      <md-select  ng-model="selectedgender"
                  md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                  multiple="">
        <md-optgroup label="Gender">
          <md-option ng-value="gender">Select All</md-option>
          <md-option ng-value="gender" ng-repeat="gender in genders">{{gender}}</md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
  </div>

    <h1 class="md-title">Race: Adults</h1>
    <div layout="row">
      <md-input-container>
        <label>Select Race(s)</label>
        <md-select  ng-model="selectedadultRace"
                    md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                    multiple="">
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search"
                   class="demo-header-searchbox md-text">
          </md-select-header>
          <md-optgroup label="Race: Adults">
            <button ng-click="selectedadultRace=adultRaces">Select All</button>
            <button ng-click="selectedadultRace=[]">Clear</button>
            <md-option ng-value="adultRace" ng-repeat="adultRace in adultRaces">{{adultRace}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>

    </div>

    <h1 class="md-title">Race: Children</h1>
    <div layout="row">
      <md-input-container>
        <label>Select Race(s)</label>
        <md-select  ng-model="selectedraceChilds"
                    md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                    multiple="">
          <md-optgroup label="Race: Children">
            <md-option ng-value="childRace">Select All</md-option>
            <md-option ng-value="childRace" ng-repeat="childRace in childRaces">{{childRace}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <h1 class="md-title">Age: Children</h1>
    <div layout="row">
      <md-input-container>
        <label>Select Age(s)</label>
        <md-select  ng-model="selectedchildAges"
                    md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                    multiple="">
          <md-optgroup label="Age: Children">
            <md-option ng-value="childAges">Select All</md-option>
            <md-option ng-value="childAges" ng-repeat="childAge in childAges">{{childAge}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <h1 class="md-title">Age: Adults</h1>
    <div isteven-multi-select
    input-model="adultAges"
    output-model="outputAdultAges"
    button-label="range"
    item-label="range"
    tick-property="ticked"
    on-open="fOpen()"
    on-close="fClose()"
    on-item-click="fClick( data )"
    on-select-all="fSelectAll()"
    on-select-none="fSelectNone()"
    on-reset="fReset()"
    on-clear="fClear()"
    on-search-change="fSearchChange( data )">
    </div>

    <h1 class="md-title">Last Residence</h1>
    <div ng-dropdown-multiselect="" options="lastResidences" selected-model="lastResidencesModel" checkboxes="true" extra-settings="lastResidenceSettings"></div>

    <h1 class="md-title">Household Income</h1>
    <select multiple style="checkbox" ng-model="selectedhhIncome">
      <option value="" style="display:none">Select Income Level</option>
      <option ng-repeat="hhIncome in hhIncomes" value="{{hhIncome}}">{{hhIncome}} </option>
    </select>

    <div class="btn-group">
      <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Checked option <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ng-repeat="hhIncome in hhIncomes">
            <input type="radio" id="hhIncome" name="NAME" value="VALUE">
            <label for="hhIncome">Label</label>
          </li>
          <!-- Other items -->
        </ul>
    </div>

</div>
