<div ng-include="'public/views/partials/header.html'"> </div>

<!-- <div layout="column"> -->
  <div class="container" layout="row" flex ng-cloak>
    <md-sidenav layout="column" class="sidenav1 md-whiteframe-4dp" md-component-id="left">
      <div class="md-padding">
        <h1 class="md-title">Program</h1>
        <div layout="row" layout-wrap>
          <md-input-container class="programinput" flex="100">
            <p class="selectprogram"><label>Select Program(s)</label></p>
            <!--<div flex-xs="" flex="50">-->
              <!--<md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">-->
                <!--<span ng-if="isChecked()">Un-</span>Select All-->
              <!--</md-checkbox>-->
            <!--</div>-->
            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
              <md-checkbox ng-model="toggleSelect" ng-init="toggleSelect = true"
                       ng-click="toggle(item, selectedprogram)" class="md-primary">
                {{ item }}
              </md-checkbox>
            </div>
          </md-input-container>
      </div>

        <h1 class="md-title">Gender</h1>
        <div layout="row" layout-wrap>
          <md-input-container flex="100">
            <label>Select Gender</label>
            <md-select  ng-model="selectedgender"
                        ng-init="selectedgender = genders"
                        md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                        multiple="">
              <md-optgroup label="Gender">
                <button ng-click= "selectedgender = genders">Select All</button>
                <button ng-click="selectedgender=[]">Clear</button>
                <md-option ng-value="gender" ng-repeat="gender in genders">{{gender}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

        <h1 class="md-title">Race: Adults</h1>
        <div layout="row" layout-wrap>
          <md-input-container flex="100">
            <label>Select Race(s)</label>
            <md-select  md-no-ink ng-model="selectedadultRace"
                        ng-init="selectedadultRace = adultRaces"
                        md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                        multiple="">
              <md-select-header class="demo-select-header">
                <input ng-model="searchTerm"
                       type="search"
                       placeholder="Search"
                       class="demo-header-searchbox md-text">
              </md-select-header>
              <md-optgroup label="Race: Adults">
                <button ng-click= "selectedadultRace = adultRaces">Select All</button>
                <button ng-click="selectedadultRace=[]">Clear</button>
                <md-option ng-value="adultRace" ng-repeat="adultRace in adultRaces">{{adultRace}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

        <h1 class="md-title">Race: Children</h1>
        <div layout="row" layout-wrap>
          <md-input-container flex="100">
            <label>Select Race(s)</label>
            <md-select ng-model="selectedchildRace"
                        ng-init="selectedchildRace = childRaces"
                        md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                        multiple="">
              <md-optgroup label="Race: Children">
                <button ng-click="selectedchildRace = childRaces">Select All</button>
                <button ng-click="selectedchildRace=[]">Clear</button>
                <md-option ng-value="childRace" ng-repeat="childRace in childRaces">{{childRace}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

        <h1 class="md-title">Age: Adults</h1>
        <div layout="row" layout-wrap>
          <md-input-container flex="100">
            <label>Select Ages</label>
            <md-select  ng-model="selectedadultAge"
                        ng-init="selectedadultAge = adultAges"
                        md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                        multiple="">
              <md-optgroup label="Age: Adults">
                <button ng-click="selectedadultAge = adultAges">Select All</button>
                <button ng-click="selectedadultAge=[]">Clear</button>
                <md-option ng-value="adultAge" ng-repeat="adultAge in adultAges">{{adultAge}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

        <h1 class="md-title">Age: Children</h1>
        <div layout="row" layout-wrap>
          <md-input-container flex="100">
            <label>Select Ages</label>
            <md-select  ng-model="selectedchildAge"
                        ng-init="selectedchildAge = childAges"
                        md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                        multiple="">
              <md-optgroup label="Age: Children">
                <button ng-click="selectedchildAge = childAges">Select All</button>
                <button ng-click="selectedchildAge=[]">Clear</button>
                <md-option ng-value="childAge" ng-repeat="childAge in childAges">{{childAge}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

        <h1 class="md-title">Last Residence</h1>
        <div layout="row" layout-wrap>
          <md-input-container flex="100">
            <label>Select Residence</label>
            <md-select  ng-model="selectedresidence"
                        ng-init="selectedresidence = residences"
                        md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                        multiple="">
              <md-optgroup label="Last Residence">
                <button ng-click="selectedresidence = residences">Select All</button>
                <button ng-click="selectedresidence=[]">Clear</button>
                <md-option ng-value="residence" ng-repeat="residence in residences">{{residence}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

        <h1 class="md-title">Household Income</h1>
        <div layout="row" layout-wrap>
          <md-input-container flex="100">
            <label>Select Income Level(s)</label>
            <md-select  ng-model="selectedhhIncome"
                        ng-init="selectedhhIncome = hhIncomes"
                        md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                        multiple="">
              <md-optgroup label="Household Income">
                <button ng-click="selectedhhIncome = hhIncomes">Select All</button>
                <button ng-click="selectedhhIncome=[]">Clear</button>
                <md-option ng-value="hhIncome" ng-repeat="hhIncome in hhIncomes">{{hhIncome}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

        <h1 class="md-title">Persons Exiting Housing</h1>
        <div layout="row" layout-wrap>
          <md-input-container flex="100">
            <label>Select Reason(s)</label>
            <md-select  ng-model="selectedexitReason"
                        ng-init="selectedexitReason = exitReasons"
                        md-on-close="clearSearchTerm()"
                        data-md-container-class="demoDropdown"
                        multiple="">
              <md-optgroup label="Select Reason">
                <button ng-click="selectedexitReason = exitReasons">Select All</button>
                <button ng-click="selectedexitReason=[]">Clear</button>
                <md-option ng-value="exitReason" ng-repeat="exitReason in exitReasons">{{exitReason}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

        <fieldset class="dateSelect">
            <h1 class="md-title">Reporting Period</h1>
            <!-- <label>Select Date Range</label> -->
            <div class="calendar">
              <p>Start Date</p>
              <md-datepicker ng-model="startdate"  name="dateField"  md-max-date="enddate" ng-change="startDate(startdate)"></md-datepicker>
            </div>
            <div class="calendar">
              <p>End Date</p>
              <md-datepicker ng-model="enddate" name="dateField" md-min-date="startdate" md-max-date="maxDate" ng-change="endDate(enddate)">
              </md-datepicker>
            </div>
        </fieldset>

        <div class="action-buttons" layout="column">
            <md-button class="md-raised md-primary" ng-click="newQuery()">Submit Query</md-button>
            <md-button id="reset" class="md-raised" ng-click="resetQuery()">Reset Query</md-button>
            <md-button id="export" class="md-raised export">Export to CSV</md-button>
        </div>

      </div>

    </md-sidenav>

<!-- DATA DISPLAY TABLES ------------------------------------------------->

    <md-content layout="column" flex>
      <div class="datagrid" layout = "row" flex>

<!-- EMP (EAST MANOR PLACE) --------------------------------->
        <md-table-container ng-show="selectedprogram.indexOf('EMP')" flex>
          <md-toolbar flex>
            <h1 class="md-title tablehead" >{{"EMP I"}}</h1>
          </md-toolbar>

<!-- EMP: Gender ----------------------------->
          <table md-table >
          <thead md-head>
            <tr md-row >
              <th md-column>Gender</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Female</td>
              <td ng-model="number" md-cell>{{10}}</td>
              <td ng-model="percent" md-cell>{{50 + "%"}}</td>
            </tr>
            <tr md-row>
              <td md-cell>Male</td>
              <td ng-model="number" md-cell>{{}}</td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>
<!-- EMP: Adult Race -------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Race: Adults</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
          <tr md-row>
            <td md-cell>African</td>
            <td ng-model="raceAdultEMP" md-cell>{{ raceAdultEMP.african }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>African American</td>
            <td ng-model="raceAdultEMP" md-cell>{{ raceAdultEMP.africanAmerican }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>American Indian</td>
            <td ng-model="raceAdultEMP" md-cell>{{ raceAdultEMP.americanIndian }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Asian/SE Asian/Pacific Islander</td>
            <td ng-model="raceAdultEMP" md-cell>{{ raceAdultEMP.asian }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Caucasian/White</td>
            <td ng-model="raceAdultEMP" md-cell>{{ raceAdultEMP.caucasianWhite }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Hispanic/Chicano</td>
            <td ng-model="raceAdultEMP" md-cell>{{ raceAdultEMP.hispanicLatino }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Multiracial</td>
            <td ng-model="raceAdultEMP" md-cell>{{ raceAdultEMP.multiracial }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Other/Unknown</td>
            <td ng-model="raceAdultEMP" md-cell>{{ raceAdultEMP.other }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr class="totalrow" md-row>
            <td md-cell>Total</td>
            <td ng-model="number" md-cell></td>
            <td ng-model="percent" md-cell>{{  }}</td>
          </tr>
          </tbody>

<!-- EMP: Child Race ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Race: Children</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>African</td>
              <td ng-model="raceChildEMP" md-cell>{{ raceChildEMP.african }}</td>
              <td ng-model="raceChildEMP" md-cell>{{ (100 * raceChildEMP.african / raceChildEMP.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>African American</td>
              <td ng-model="raceChildEMP" md-cell>{{ raceChildEMP.africanAmerican }}</td>
              <td ng-model="raceChildEMP" md-cell>{{ (100 * raceChildEMP.africanAmerican / raceChildEMP.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>American Indian</td>
              <td ng-model="raceChildEMP" md-cell>{{ raceChildEMP.americanIndian }}</td>
              <td ng-model="raceChildEMP" md-cell>{{ (100 * raceChildEMP.americanIndian / raceChildEMP.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Asian/SE Asian/Pacific Islander</td>
              <td ng-model="raceChildEMP" md-cell>{{ raceChildEMP.asian }}</td>
              <td ng-model="raceChildEMP" md-cell>{{ (100 * raceChildEMP.asian / raceChildEMP.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Caucasian/White</td>
              <td ng-model="raceChildEMP" md-cell>{{ raceChildEMP.caucasianWhite }}</td>
              <td ng-model="raceChildEMP" md-cell>{{ (100 * raceChildEMP.caucasianWhite / raceChildEMP.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Hispanic/Chicano</td>
              <td ng-model="raceChildEMP" md-cell>{{ raceChildEMP.hispanicLatino }}</td>
              <td ng-model="raceChildEMP" md-cell>{{ (100 * raceChildEMP.hispanicLatino / raceChildEMP.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Multiracial</td>
              <td ng-model="raceChildEMP" md-cell>{{ raceChildEMP.multiracial }}</td>
              <td ng-model="raceChildEMP" md-cell>{{ (100 * raceChildEMP.multiracial / raceChildEMP.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other/Unknown</td>
              <td ng-model="raceChildEMP" md-cell>{{ raceChildEMP.other }}</td>
              <td ng-model="raceChildEMP" md-cell>{{ (100 * raceChildEMP.other / raceChildEMP.totalCount ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="raceChildEMP" md-cell>{{ raceChildEMP.totalCount }}</td>
              <td ng-model="raceChildEMP" md-cell>{{ (100 * raceChildEMP.totalCount / raceChildEMP.totalCount ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- EMP: Adult Age ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Age: Adults</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>18-22</td>
              <td ng-model="dobEMP" md-cell>{{ dobEMP.age18to22 }}</td>
              <td ng-model="dobEMP" md-cell>{{ (100 * dobEMP.age18to22 / dobEMP.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>23–30</td>
              <td ng-model="dobEMP" md-cell>{{ dobEMP.age23to30 }}</td>
              <td ng-model="dobEMP" md-cell>{{ (100 * dobEMP.age23to30 / dobEMP.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>31–40</td>
              <td ng-model="dobEMP" md-cell>{{ dobEMP.age31to40 }}</td>
              <td ng-model="dobEMP" md-cell>{{ (100 * dobEMP.age31to40 / dobEMP.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>41–54</td>
              <td ng-model="dobEMP" md-cell>{{ dobEMP.age41to54 }}</td>
              <td ng-model="dobEMP" md-cell>{{ (100 * dobEMP.age41to54 / dobEMP.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>55–64</td>
              <td ng-model="dobEMP" md-cell>{{ dobEMP.age55to64 }}</td>
              <td ng-model="dobEMP" md-cell>{{ (100 * dobEMP.age55to64 / dobEMP.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>65+</td>
              <td ng-model="dobEMP" md-cell>{{ dobEMP.age65tobeyond }}</td>
              <td ng-model="dobEMP" md-cell> {{ (100 * dobEMP.age65tobeyond / dobEMP.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell> {{ dobEMP.total }}</td>
              <td ng-model="percent" md-cell>{{ (100 * dobEMP.total / dobEMP.total ) | number:2  }}%</td>
            </tr>

          </tbody>

<!-- EMP: Child Age ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Age: Children</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>0–18 mths</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>19-35mths</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>36-59 mths</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>60-71 mths (5 y.o.)</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>6–9 yrs</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>10–14 yrs</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>15–17 yrs</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>18+ child in home</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>

<!-- EMP: Last Residence ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Last Residence</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Ramsey</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Suburban Ramsey Co.</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Washington Co.</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Hennepin</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Suburban Hennepin Co.</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Other Metro County</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Outside Twin Cities Metro</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Outside of State</td>
              <td ng-model="dobEMP" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>

<!-- EMP: Household Income ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Household Income</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>

<!-- EMP: Persons Exiting Housing ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Persons Exiting Housing</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td ng-model="number" md-cell>Graduated</td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td ng-model="number" md-cell>Left voluntarily (not grad)</td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td ng-model="number" md-cell>Terminated/Mutual termination</td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td ng-model="number" md-cell>Other (i.e. death)</td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>

        </table>
      </md-table-container>

      <md-divider ng-if="!$last"></md-divider>

<!-- EMP II Table ------------------------------------------------------>
        <md-table-container flex>
          <md-toolbar flex>
            <h1 class="md-title tablehead" >{{"EMP II"}}</h1>
          </md-toolbar>

<!-- EMP II: Gender ----------------------------->
          <table md-table >
          <thead md-head>
            <tr md-row >
              <th md-column>Gender</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Female</td>
              <td ng-model="number" md-cell>{{10}}</td>
              <td ng-model="percent" md-cell>{{50 + "%"}}</td>
            </tr>
            <tr md-row>
              <td md-cell>Male</td>
              <td ng-model="number" md-cell>{{}}</td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>
<!-- EMP II: Adult Race -------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Race: Adults</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
          <tr md-row>
            <td md-cell>African</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.african }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>African American</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.africanAmerican }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>American Indian</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.americanIndian }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Asian/SE Asian/Pacific Islander</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.asian }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Caucasian/White</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.caucasianWhite }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Hispanic/Chicano</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.hispanicLatino }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Multiracial</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.multiracial }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Other/Unknown</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.other }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr class="totalrow" md-row>
            <td md-cell>Total</td>
            <td ng-model="number" md-cell></td>
            <td ng-model="percent" md-cell>{{  }}</td>
          </tr>
          </tbody>

<!-- EMP II: Child Race ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Race: Children</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>African</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.african }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.african / raceChildEMPII.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>African American</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.africanAmerican }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.africanAmerican / raceChildEMPII.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>American Indian</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.americanIndian }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.americanIndian / raceChildEMPII.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Asian/SE Asian/Pacific Islander</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.asian }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.asian / raceChildEMPII.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Caucasian/White</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.caucasianWhite }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.caucasianWhite / raceChildEMPII.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Hispanic/Chicano</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.hispanicLatino }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.hispanicLatino / raceChildEMPII.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Multiracial</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.multiracial }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.multiracial / raceChildEMPII.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other/Unknown</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.other }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.other / raceChildEMPII.totalCount ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.totalCount }}</td>
              <td ng-model="percent" md-cell>{{ (100 * raceChildEMPII.totalCount / raceChildEMPII.totalCount ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- EMPII: Adult Age ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Age: Adults</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>18-22</td>
              <td ng-model="dobEMPII" md-cell>{{ dobEMPII.age18to22 }}</td>
              <td ng-model="dobEMPII" md-cell>{{ (100 * dobEMPII.age18to22 / dobEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>23–30</td>
              <td ng-model="dobEMPII" md-cell>{{ dobEMPII.age23to30 }}</td>
              <td ng-model="dobEMPII" md-cell>{{ (100 * dobEMPII.age23to30 / dobEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>31–40</td>
              <td ng-model="dobEMPII" md-cell>{{ dobEMPII.age31to40 }}</td>
              <td ng-model="dobEMPII" md-cell>{{ (100 * dobEMPII.age31to40 / dobEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>41–54</td>
              <td ng-model="dobEMPII" md-cell>{{ dobEMPII.age41to54 }}</td>
              <td ng-model="dobEMPII" md-cell>{{ (100 * dobEMPII.age41to54 / dobEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>55–64</td>
              <td ng-model="dobEMPII" md-cell>{{ dobEMPII.age55to64 }}</td>
              <td ng-model="dobEMPII" md-cell>{{ (100 * dobEMPII.age55to64 / dobEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>65+</td>
              <td ng-model="dobEMPII" md-cell>{{ dobEMPII.age65tobeyond }}</td>
              <td ng-model="dobEMPII" md-cell> {{ (100 * dobEMPII.age65tobeyond / dobEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell> {{ dobEMPII.total }}</td>
              <td ng-model="percent" md-cell>{{ (100 * dobEMPII.total / dobEMPII.total ) | number:2  }}%</td>
            </tr>

          </tbody>

<!-- EMP II: Child Age ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Age: Children</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>0–18 mths</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>19-35mths</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>36-59 mths</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>60-71 mths (5 y.o.)</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>6–9 yrs</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>10–14 yrs</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>15–17 yrs</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>18+ child in home</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>

<!-- EMP II: Last Residence ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Last Residence</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Ramsey</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Suburban Ramsey Co.</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Washington Co.</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="dobEMPII" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Hennepin</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="dobEMPII" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Suburban Hennepin Co.</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="dobEMPII" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Other Metro County</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="dobEMPII" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Outside Twin Cities Metro</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="dobEMPII" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Outside of State</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="dobEMPII" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="dobEMPII" md-cell></td>
              <td ng-model="dobEMPII" md-cell>{{}}</td>
            </tr>
          </tbody>

<!-- EMPII: Household Income ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Household Income</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>

<!-- EMP II: Persons Exiting Housing ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Persons Exiting Housing</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td ng-model="number" md-cell>Graduated</td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td ng-model="number" md-cell>Left voluntarily (not grad)</td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td ng-model="number" md-cell>Terminated/Mutual termination</td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td ng-model="number" md-cell>Other (i.e. death)</td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>

        </table>
      </md-table-container>

      <md-divider ng-if="!$last"></md-divider>


      <md-divider ng-if="!$last"></md-divider>

      <md-table-container flex>
        <md-toolbar>
          <h1 class="md-title tablehead">{{"Home Again"}}</h1>
        </md-toolbar>
        <table md-table>
          <thead md-head md-order="query.order" md-on-reorder="getDesserts">
            <tr md-row>
              <th md-column md-numeric>Metric</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="demo in demos">
              <td ng-model="number" md-cell>{{10}}</td>
              <td ng-model="percent" md-cell>{{ 0 }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-divider ng-if="!$last"></md-divider>

      <md-table-container flex>
        <md-toolbar>
          <h1 class="md-title tablehead">{{"HomeSafe"}}</h1>
        </md-toolbar>
        <table md-table>
          <thead md-head md-order="query.order" md-on-reorder="getDesserts">
            <tr md-row>
              <th md-column md-numeric>Metric</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="demo in demos">
              <td ng-model="number" md-cell>{{10}}</td>
              <td ng-model="percent" md-cell>{{ 10/90}}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-divider ng-if="!$last"></md-divider>

      <md-table-container flex>
        <md-toolbar>
          <h1 class="md-title tablehead">{{"HomeFront"}}</h1>
        </md-toolbar>
        <table md-table >
          <thead md-head md-order="query.order" md-on-reorder="getDesserts">
            <tr md-row>
              <th md-column md-numeric>Metric</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="demo in demos">
              <td ng-model="number" md-cell>{{10}}</td>
              <td ng-model="percent" md-cell>{{ 10/90}}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

    </div>

    </md-content>
  </div>
<!-- </div> -->
