<div class="md-padding" ng-cloak>
  <h1 class="md-title">Gender</h1>
  <div layout="row">
    <md-input-container>
      <label>Select Gender</label>
      <md-select  ng-model="selectedgender"
                  md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                  multiple="">
        <md-optgroup label="Gender">
          <button ng-click= "selectedgender = genders">Select All</button>
          <button ng-click="selectedgender=[]">Clear</button>
          <md-option ng-value="gender" ng-repeat="gender in genders">{{gender}}</md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
  </div>

    <h1 class="md-title">Race: Adults</h1>
    <div layout="row">
      <md-input-container>
        <label>Select Race(s)</label>
        <md-select  ng-model="selectedadultRace"
                    md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                    multiple="">
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search"
                   class="demo-header-searchbox md-text">
          </md-select-header>
          <md-optgroup label="Race: Adults">
            <button ng-click= "selectedadultRace = adultRaces">Select All</button>
            <button ng-click="selectedadultRace=[]">Clear</button>
            <md-option ng-value="adultRace" ng-repeat="adultRace in adultRaces">{{adultRace}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>

    </div>

    <h1 class="md-title">Race: Children</h1>
    <div layout="row">
      <md-input-container>
        <label>Select Race(s)</label>
        <md-select  ng-model="selectedchildRace"
                    md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                    multiple="">
          <md-optgroup label="Race: Children">
            <button ng-click="selectedchildRace = childRaces">Select All</button>
            <button ng-click="selectedchildRace=[]">Clear</button>
            <md-option ng-value="childRace" ng-repeat="childRace in childRaces">{{childRace}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <h1 class="md-title">Age: Children</h1>
    <div layout="row">
      <md-input-container>
        <label>Select Age(s)</label>
        <md-select  ng-model="selectedchildAge"
                    md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                    multiple="">
          <md-optgroup label="Age: Children">
            <button ng-click="selectedchildAge = childAges">Select All</button>
            <button ng-click="selectedchildAge=[]">Clear</button>
            <md-option ng-value="childAge" ng-repeat="childAge in childAges">{{childAge}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <h1 class="md-title">Age: Adults</h1>
    <div layout="row">
      <md-input-container>
        <label>Select Age(s)</label>
        <md-select  ng-model="selectedadultAge"
                    md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                    multiple="">
          <md-optgroup label="Age: Adults">
            <button ng-click="selectedadultAge = adultAges">Select All</button>
            <button ng-click="selectedadultAge=[]">Clear</button>
            <md-option ng-value="adultAge" ng-repeat="adultAge in adultAges">{{adultAge}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <h1 class="md-title">Last Residence</h1>
    <div layout="row">
      <md-input-container>
        <label>Select Residence</label>
        <md-select  ng-model="selectedresidence"
                    md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                    multiple="">
          <md-optgroup label="Last Residence">
            <button ng-click="selectedresidence = residences">Select All</button>
            <button ng-click="selectedresidence=[]">Clear</button>
            <md-option ng-value="residence" ng-repeat="residence in residences">{{residence}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <h1 class="md-title">Household Income</h1>
    <div layout="row">
      <md-input-container>
        <label>Select Income Level</label>
        <md-select  ng-model="selectedhhIncome"
                    md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                    multiple="">
          <md-optgroup label="Household Income">
            <button ng-click="selectedhhIncome = hhIncomes">Select All</button>
            <button ng-click="selectedhhIncome=[]">Clear</button>
            <md-option ng-value="hhIncome" ng-repeat="hhIncome in hhIncomes">{{hhIncome}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <h1 class="md-title">Persons Exiting Housing</h1>
    <div layout="row">
      <md-input-container>
        <label>Select Reason</label>
        <md-select  ng-model="selectedexitingPerson"
                    md-on-close="clearSearchTerm()"  data-md-container-class="demoDropdown"
                    multiple="">
          <md-optgroup label="Select Reason">
            <button ng-click="selectedexitingPerson = exitingPersons">Select All</button>
            <button ng-click="selectedexitingPerson=[]">Clear</button>
            <md-option ng-value="exitingPerson" ng-repeat="exitingPerson in exitingPersons">{{exitingPerson}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <!-- <h1 class="md-title">Date Range</h1>
    <adm-dtp class="calendar"
             ng-model="date"
             full-data="date1_detail"
             maxdate="{{date2_detail.unix}}"
             on-datechange="date1Changed(date)">
    </adm-dtp>
    <adm-dtp class="calendar"
             ng-model="date"
             full-data="date2_detail"
             mindate="{{date1_detail.unix}}"
             on-datechange="date2Changed(date)">
    </adm-dtp> -->
    <label>Date Range</label>
    <md-datepicker ng-model="date1" name="dateField" 
      md-max-date="date2"></md-datepicker>
    <md-datepicker ng-model="date2" name="dateField" md-min-date="date1">
    </md-datepicker>

    <!-- <div ng-messages="myOtherForm.dateField.$error">
      <div ng-message="valid">The entered value is not a date!</div>
      <div ng-message="required">This date is required!</div>
      <div ng-message="mindate">Date is too early!</div>
      <div ng-message="maxdate">Date is too late!</div>
    </div> -->

</div>
