<md-toolbar layout="row" layout-align="center"><img class="logo" layout-align="center" src="/public/styles/images/solid_ground_logo.jpg" /></md-toolbar>
<div ng-controller="DemoController">
  <md-nav-bar md-selected-nav-item="currentNavItem">
    <!--<md-nav-item md-nav-click="goto('page1')" name="page1">Page One</md-nav-item>-->
    <!--<md-nav-item md-nav-sref="app.page2" name="page2">Page Two</md-nav-item>-->
    <md-nav-item md-nav-href="#upload">Upload</md-nav-item>
    <md-nav-item md-nav-href="#demographics">Demo</md-nav-item>
    <md-nav-item md-nav-href="#outcomes">Outcomes</md-nav-item>
   <md-nav-item md-nav-click="tologout()">LogOut</md-nav-item>
   <!-- <md-button ng-click="tologout()">Log Out</md-button> -->
</md-nav-bar>
</div>
