<!-- Home Again  --------------------------------->
        <md-table-container ng-model="toggleSelect" class="homeagain" ng-show="selectedprogram.indexOf('Home Again') !== -1" flex>
          <md-toolbar flex>
            <h1 class="md-title tablehead" >{{"Home Again"}}</h1>
          </md-toolbar>

<!-- Home Again: Gender ----------------------------->
          <table md-table >
          <thead md-head>
            <tr md-row >
              <th md-column>Gender</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Female</td>
              <td ng-model="homeagainGender" md-cell>{{ homeagainGender.female }}</td>
              <td ng-model="homeagainGender" md-cell>{{ (100 * homeagainGender.female / homeagainGender.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Male</td>
              <td ng-model="homeagainGender" md-cell>{{ homeagainGender.male }}</td>
              <td ng-model="homeagainGender" md-cell>{{ (100 * homeagainGender.male / homeagainGender.total ) | number:2 }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="homeagainGender" md-cell>{{ homeagainGender.total }}</td>
              <td ng-model="homeagainGender" md-cell>{{ (100 * homeagainGender.total / homeagainGender.total ) | number:2 }}%</td>
            </tr>
          </tbody>
<!-- Home Again: Adult Race -------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Race: Adults</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>African</td>
              <td ng-model="homeagainRace" md-cell>{{ homeagainRace.african }}</td>
              <td ng-model="homeagainRace" md-cell>{{ (100 * homeagainRace.african / homeagainRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>African American</td>
              <td ng-model="homeagainRace" md-cell>{{ homeagainRace.africanAmerican }}</td>
              <td ng-model="homeagainRace" md-cell>{{ (100 * homeagainRace.africanAmerican / homeagainRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>American Indian</td>
              <td ng-model="homeagainRace" md-cell>{{ homeagainRace.americanIndian }}</td>
              <td ng-model="homeagainRace" md-cell>{{ (100 * homeagainRace.americanIndian / homeagainRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Asian/SE Asian/Pacific Islander</td>
              <td ng-model="homeagainRace" md-cell>{{ homeagainRace.asian }}</td>
              <td ng-model="homeagainRace" md-cell>{{ (100 * homeagainRace.asian / homeagainRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Caucasian/White</td>
              <td ng-model="homeagainRace" md-cell>{{ homeagainRace.caucasianWhite }}</td>
              <td ng-model="homeagainRace" md-cell>{{ (100 * homeagainRace.caucasianWhite / homeagainRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Hispanic/Chicano</td>
              <td ng-model="homeagainRace" md-cell>{{ homeagainRace.hispanicLatino }}</td>
              <td ng-model="homeagainRace" md-cell>{{ (100 * homeagainRace.hispanicLatino / homeagainRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Multiracial</td>
              <td ng-model="homeagainRace" md-cell>{{ homeagainRace.multiracial }}</td>
              <td ng-model="homeagainRace" md-cell>{{ (100 * homeagainRace.multiracial / homeagainRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other/Unknown</td>
              <td ng-model="homeagainRace" md-cell>{{ homeagainRace.other }}</td>
              <td ng-model="homeagainRace" md-cell>{{ (100 * homeagainRace.other / homeagainRace.total ) | number:2 }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="homeagainRace" md-cell>{{ homeagainRace.total }}</td>
              <td ng-model="homeagainRace" md-cell>{{ (100 * homeagainRace.total / homeagainRace.total ) | number:2 }}%</td>
            </tr>
          </tbody>

<!-- Home Again: Child Race ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Race: Children</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>African</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ raceChildHomeAgain.african }}</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ (100 * raceChildHomeAgain.african / raceChildHomeAgain.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>African American</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ raceChildHomeAgain.africanAmerican }}</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ (100 * raceChildHomeAgain.africanAmerican / raceChildHomeAgain.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>American Indian</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ raceChildHomeAgain.americanIndian }}</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ (100 * raceChildHomeAgain.americanIndian / raceChildHomeAgain.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Asian/SE Asian/Pacific Islander</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ raceChildHomeAgain.asian }}</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ (100 * raceChildHomeAgain.asian / raceChildHomeAgain.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Caucasian/White</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ raceChildHomeAgain.caucasianWhite }}</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ (100 * raceChildHomeAgain.caucasianWhite / raceChildHomeAgain.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Hispanic/Chicano</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ raceChildHomeAgain.hispanicLatino }}</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ (100 * raceChildHomeAgain.hispanicLatino / raceChildHomeAgain.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Multiracial</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ raceChildHomeAgain.multiracial }}</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ (100 * raceChildHomeAgain.multiracial / raceChildHomeAgain.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other/Unknown</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ raceChildHomeAgain.other }}</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ (100 * raceChildHomeAgain.other / raceChildHomeAgain.totalCount ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ raceChildHomeAgain.totalCount }}</td>
              <td ng-model="raceChildHomeAgain" md-cell>{{ (100 * raceChildHomeAgain.totalCount / raceChildHomeAgain.totalCount ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- HomeAgain: Adult Age ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Age: Adults</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>18-22</td>
              <td ng-model="dobHomeAgain" md-cell>{{ dobHomeAgain.age18to22 }}</td>
              <td ng-model="dobHomeAgain" md-cell>{{ (100 * dobHomeAgain.age18to22 / dobHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>23–30</td>
              <td ng-model="dobHomeAgain" md-cell>{{ dobHomeAgain.age23to30 }}</td>
              <td ng-model="dobHomeAgain" md-cell>{{ (100 * dobHomeAgain.age23to30 / dobHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>31–40</td>
              <td ng-model="dobHomeAgain" md-cell>{{ dobHomeAgain.age31to40 }}</td>
              <td ng-model="dobHomeAgain" md-cell>{{ (100 * dobHomeAgain.age31to40 / dobHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>41–54</td>
              <td ng-model="dobHomeAgain" md-cell>{{ dobHomeAgain.age41to54 }}</td>
              <td ng-model="dobHomeAgain" md-cell>{{ (100 * dobHomeAgain.age41to54 / dobHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>55–64</td>
              <td ng-model="dobHomeAgain" md-cell>{{ dobHomeAgain.age55to64 }}</td>
              <td ng-model="dobHomeAgain" md-cell>{{ (100 * dobHomeAgain.age55to64 / dobHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>65+</td>
              <td ng-model="dobHomeAgain" md-cell>{{ dobHomeAgain.age65tobeyond }}</td>
              <td ng-model="dobHomeAgain" md-cell> {{ (100 * dobHomeAgain.age65tobeyond / dobHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell> {{ dobHomeAgain.total }}</td>
              <td ng-model="percent" md-cell>{{ (100 * dobHomeAgain.total / dobHomeAgain.total ) | number:2  }}%</td>
            </tr>

          </tbody>

<!-- Home Again: Child Age ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Age: Children</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>0–18 mths</td>
              <td ng-model="dobHomeAgain" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>19-35 mths</td>
              <td ng-model="dobHomeAgain" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>36-59 mths</td>
              <td ng-model="dobHomeAgain" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>60-71 mths (5 y.o.)</td>
              <td ng-model="dobHomeAgain" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>6–9 yrs</td>
              <td ng-model="dobHomeAgain" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>10–14 yrs</td>
              <td ng-model="dobHomeAgain" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>15–17 yrs</td>
              <td ng-model="dobHomeAgain" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>18+ child in home</td>
              <td ng-model="dobHomeAgain" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>

<!-- Home Again: Last Residence ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Last Residence</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Ramsey</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ residenceHomeAgain.ramsey }}</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ (100 * residenceHomeAgain.ramsey / residenceHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Suburban Ramsey Co.</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ residenceHomeAgain.subRamsey }}</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ (100 * residenceHomeAgain.subRamsey / residenceHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Washington Co.</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ residenceHomeAgain.washington }}</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ (100 * residenceHomeAgain.washington / residenceHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Hennepin</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ residenceHomeAgain.hennepin }}</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ (100 * residenceHomeAgain.hennepin / residenceHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Suburban Hennepin Co.</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ residenceHomeAgain.subHennepin }}</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ (100 * residenceHomeAgain.subHennepin / residenceHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other Metro County</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ residenceHomeAgain.otherMetroC }}</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ (100 * residenceHomeAgain.otherMetroC / residenceHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Outside Twin Cities Metro</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ residenceHomeAgain.outsideTCMetro }}</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ (100 * residenceHomeAgain.outsideTCMetro / residenceHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Outside of State</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ residenceHomeAgain.outsideState }}</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ (100 * residenceHomeAgain.outsideState / residenceHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ residenceHomeAgain.other }}</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ (100 * residenceHomeAgain.other / residenceHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ residenceHomeAgain.total }}</td>
              <td ng-model="residenceHomeAgain" md-cell>{{ (100 * residenceHomeAgain.total / residenceHomeAgain.total ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- Home Again: Earned Income ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Earned Income</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>$0 – $499</td>
              <td ng-model="earnedIncomeHomeAgain" md-cell>{{ earnedIncomeHomeAgain.n0_499 }}</td>
              <td ng-model="earnedIncomeHomeAgain" md-cell>{{ (100 * earnedIncomeHomeAgain.n0_499 / earnedIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$500 – $999</td>
              <td ng-model="earnedIncomeHomeAgain" md-cell>{{ earnedIncomeHomeAgain.n500_999 }}</td>
              <td ng-model="earnedIncomeHomeAgain" md-cell>{{ (100 * earnedIncomeHomeAgain.n500_999 / earnedIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$1000 – $1999</td>
              <td ng-model="earnedIncomeHomeAgain" md-cell>{{ earnedIncomeHomeAgain.n1000_1999 }}</td>
              <td ng-model="earnedIncomeHomeAgain" md-cell>{{ (100 * earnedIncomeHomeAgain.n1000_1999 / earnedIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$2000 – $2999</td>
              <td ng-model="earnedIncomeHomeAgain" md-cell>{{ earnedIncomeHomeAgain.n2000_2999 }}</td>
              <td ng-model="earnedIncomeHomeAgain" md-cell>{{ (100 * earnedIncomeHomeAgain.n2000_2999 / earnedIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$3000+</td>
              <td ng-model="earnedIncomeHomeAgain" md-cell>{{ earnedIncomeHomeAgain.n3000_plus }}</td>
              <td ng-model="earnedIncomeHomeAgain" md-cell>{{ (100 * earnedIncomeHomeAgain.n3000_plus / earnedIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="earnedIncomeHomeAgain" md-cell>{{ earnedIncomeHomeAgain.total }}</td>
              <td ng-model="earnedIncomeHomeAgain" md-cell>{{ (100 * earnedIncomeHomeAgain.total / earnedIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- Home Again: Unearned Income ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Unearned Income</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>$0 – $499</td>
              <td ng-model="unearnedIncomeHomeAgain" md-cell>{{ unearnedIncomeHomeAgain.n0_499 }}</td>
              <td ng-model="unearnedIncomeHomeAgain" md-cell>{{ (100 * unearnedIncomeHomeAgain.n0_499 / unearnedIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$500 – $999</td>
              <td ng-model="unearnedIncomeHomeAgain" md-cell>{{ earnedIncomeHomeAgain.n500_999 }}</td>
              <td ng-model="unearnedIncomeHomeAgain" md-cell>{{ (100 * unearnedIncomeHomeAgain.n500_999 / unearnedIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$1000 – $1999</td>
              <td ng-model="unearnedIncomeHomeAgain" md-cell>{{ unearnedIncomeHomeAgain.n1000_1999 }}</td>
              <td ng-model="unearnedIncomeHomeAgain" md-cell>{{ (100 * unearnedIncomeHomeAgain.n1000_1999 / unearnedIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$2000 – $2999</td>
              <td ng-model="unearnedIncomeHomeAgain" md-cell>{{ unearnedIncomeHomeAgain.n2000_2999 }}</td>
              <td ng-model="unearnedIncomeHomeAgain" md-cell>{{ (100 * unearnedIncomeHomeAgain.n2000_2999 / unearnedIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$3000+</td>
              <td ng-model="unearnedIncomeHomeAgain" md-cell>{{ unearnedIncomeHomeAgain.n3000_plus }}</td>
              <td ng-model="unearnedIncomeHomeAgain" md-cell>{{ (100 * unearnedIncomeHomeAgain.n3000_plus / unearnedIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="unearnedIncomeHomeAgain" md-cell>{{ unearnedIncomeHomeAgain.total }}</td>
              <td ng-model="unearnedIncomeHomeAgain" md-cell>{{ (100 * unearnedIncomeHomeAgain.total / unearnedIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- Home Again: Total Income ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Total Income</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>$0 – $499</td>
              <td ng-model="totalIncomeHomeAgain" md-cell>{{ totalIncomeHomeAgain.n0_499 }}</td>
              <td ng-model="totalIncomeHomeAgain" md-cell>{{ (100 * totalIncomeHomeAgain.n0_499 / totalIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$500 – $999</td>
              <td ng-model="totalIncomeHomeAgain" md-cell>{{ totalIncomeHomeAgain.n500_999 }}</td>
              <td ng-model="totalIncomeHomeAgain" md-cell>{{ (100 * totalIncomeHomeAgain.n500_999 / totalIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$1000 – $1999</td>
              <td ng-model="totalIncomeHomeAgain" md-cell>{{ totalIncomeHomeAgain.n1000_1999 }}</td>
              <td ng-model="totalIncomeHomeAgain" md-cell>{{ (100 * totalIncomeHomeAgain.n1000_1999 / totalIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$2000 – $2999</td>
              <td ng-model="totalIncomeHomeAgain" md-cell>{{ totalIncomeHomeAgain.n2000_2999 }}</td>
              <td ng-model="totalIncomeHomeAgain" md-cell>{{ (100 * totalIncomeHomeAgain.n2000_2999 / totalIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$3000+</td>
              <td ng-model="totalIncomeHomeAgain" md-cell>{{ totalIncomeHomeAgain.n3000_plus }}</td>
              <td ng-model="totalIncomeHomeAgain" md-cell>{{ (100 * totalIncomeHomeAgain.n3000_plus / totalIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="totalIncomeHomeAgain" md-cell>{{ totalIncomeHomeAgain.total }}</td>
              <td ng-model="totalIncomeHomeAgain" md-cell>{{ (100 * totalIncomeHomeAgain.total / totalIncomeHomeAgain.total ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- Home Again: Persons Exiting Housing ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Persons Exiting Housing</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Graduated</td>
              <td ng-model="exitHomeAgain" md-cell>{{ exitHomeAgain.graduated }}</td>
              <td ng-model="exitHomeAgain" md-cell>{{ (100 * exitHomeAgain.graduated / exitHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Left voluntarily (not grad)</td>
              <td ng-model="exitHomeAgain" md-cell>{{ exitHomeAgain.leftVoluntarily }}</td>
              <td ng-model="exitHomeAgain" md-cell>{{ (100 * exitHomeAgain.leftVoluntarily / exitHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Terminated/Mutual termination</td>
              <td ng-model="exitHomeAgain" md-cell>{{ exitHomeAgain.terminated }}</td>
              <td ng-model="exitHomeAgain" md-cell>{{ (100 * exitHomeAgain.terminated / exitHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other (i.e. death)</td>
              <td ng-model="exitHomeAgain" md-cell>{{ exitHomeAgain.other }}</td>
              <td ng-model="exitHomeAgain" md-cell>{{ (100 * exitHomeAgain.other / exitHomeAgain.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="exitHomeAgain" md-cell>{{ exitHomeAgain.total }}</td>
              <td ng-model="exitHomeAgain" md-cell>{{ (100 * exitHomeAgain.total / exitHomeAgain.total ) | number:2  }}%</td>
            </tr>
          </tbody>

        </table>
      </md-table-container>

      <md-divider ng-if="!$last"></md-divider>
