<!-- ng-show="selectedprogram.indexOf('HomeFront') !== -1"  -->
<!-- HomeFront --------------------------------->
        <md-table-container ng-model="toggleSelect" class="homefront" flex>
          <md-toolbar flex>
            <h1 class="md-title tablehead" >{{"HomeFront"}}</h1>
          </md-toolbar>

<!-- HomeFront: Gender ----------------------------->
          <table md-table >
          <thead md-head>
            <tr md-row >
              <th md-column>Gender</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Female</td>
              <td ng-model="homefrontGender" md-cell>{{ homefrontGender.female }}</td>
              <td ng-model="homefrontGender" md-cell>{{ (100 * homefrontGender.female / homefrontGender.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Male</td>
              <td ng-model="homefrontGender" md-cell>{{ homefrontGender.male }}</td>
              <td ng-model="homefrontGender" md-cell>{{ (100 * homefrontGender.male / homefrontGender.total ) | number:2 }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="homefrontGender" md-cell>{{ homefrontGender.total }}</td>
              <td ng-model="homefrontGender" md-cell>{{ (100 * homefrontGender.total / homefrontGender.total ) | number:2 }}%</td>
            </tr>
          </tbody>
<!-- HomeFront: Adult Race -------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Race: Adults</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>African</td>
              <td ng-model="homefrontRace" md-cell>{{ homefrontRace.african }}</td>
              <td ng-model="homefrontRace" md-cell>{{ (100 * homefrontRace.african / homefrontRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>African American</td>
              <td ng-model="homefrontRace" md-cell>{{ homefrontRace.africanAmerican }}</td>
              <td ng-model="homefrontRace" md-cell>{{ (100 * homefrontRace.africanAmerican / homefrontRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>American Indian</td>
              <td ng-model="homefrontRace" md-cell>{{ homefrontRace.americanIndian }}</td>
              <td ng-model="homefrontRace" md-cell>{{ (100 * homefrontRace.americanIndian / homefrontRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Asian/SE Asian/Pacific Islander</td>
              <td ng-model="homefrontRace" md-cell>{{ homefrontRace.asian }}</td>
              <td ng-model="homefrontRace" md-cell>{{ (100 * homefrontRace.asian / homefrontRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Caucasian/White</td>
              <td ng-model="homefrontRace" md-cell>{{ homefrontRace.caucasianWhite }}</td>
              <td ng-model="homefrontRace" md-cell>{{ (100 * homefrontRace.caucasianWhite / homefrontRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Hispanic/Chicano</td>
              <td ng-model="homefrontRace" md-cell>{{ homefrontRace.hispanicLatino }}</td>
              <td ng-model="homefrontRace" md-cell>{{ (100 * homefrontRace.hispanicLatino / homefrontRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Multiracial</td>
              <td ng-model="homefrontRace" md-cell>{{ homefrontRace.multiracial }}</td>
              <td ng-model="homefrontRace" md-cell>{{ (100 * homefrontRace.multiracial / homefrontRace.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other/Unknown</td>
              <td ng-model="homefrontRace" md-cell>{{ homefrontRace.other }}</td>
              <td ng-model="homefrontRace" md-cell>{{ (100 * homefrontRace.other / homefrontRace.total ) | number:2 }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="homefrontRace" md-cell>{{ homefrontRace.total }}</td>
              <td ng-model="homefrontRace" md-cell>{{ (100 * homefrontRace.total / homefrontRace.total ) | number:2 }}%</td>
            </tr>
          </tbody>

<!-- HomeFront: Child Race ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Race: Children</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>African</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ raceChildHomeFront.african }}</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ (100 * raceChildHomeFront.african / raceChildHomeFront.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>African American</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ raceChildHomeFront.africanAmerican }}</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ (100 * raceChildHomeFront.africanAmerican / raceChildHomeFront.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>American Indian</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ raceChildHomeFront.americanIndian }}</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ (100 * raceChildHomeFront.americanIndian / raceChildHomeFront.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Asian/SE Asian/Pacific Islander</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ raceChildHomeFront.asian }}</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ (100 * raceChildHomeFront.asian / raceChildHomeFront.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Caucasian/White</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ raceChildHomeFront.caucasianWhite }}</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ (100 * raceChildHomeFront.caucasianWhite / raceChildHomeFront.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Hispanic/Chicano</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ raceChildHomeFront.hispanicLatino }}</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ (100 * raceChildHomeFront.hispanicLatino / raceChildHomeFront.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Multiracial</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ raceChildHomeFront.multiracial }}</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ (100 * raceChildHomeFront.multiracial / raceChildHomeFront.totalCount ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other/Unknown</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ raceChildHomeFront.other }}</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ (100 * raceChildHomeFront.other / raceChildHomeFront.totalCount ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ raceChildHomeFront.totalCount }}</td>
              <td ng-model="raceChildHomeFront" md-cell>{{ (100 * raceChildHomeFront.totalCount / raceChildHomeFront.totalCount ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- HomeFront: Adult Age ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Age: Adults</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>18-22</td>
              <td ng-model="dobHomeFront" md-cell>{{ dobHomeFront.age18to22 }}</td>
              <td ng-model="dobHomeFront" md-cell>{{ (100 * dobHomeFront.age18to22 / dobHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>23–30</td>
              <td ng-model="dobHomeFront" md-cell>{{ dobHomeFront.age23to30 }}</td>
              <td ng-model="dobHomeFront" md-cell>{{ (100 * dobHomeFront.age23to30 / dobHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>31–40</td>
              <td ng-model="dobHomeFront" md-cell>{{ dobHomeFront.age31to40 }}</td>
              <td ng-model="dobHomeFront" md-cell>{{ (100 * dobHomeFront.age31to40 / dobHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>41–54</td>
              <td ng-model="dobHomeFront" md-cell>{{ dobHomeFront.age41to54 }}</td>
              <td ng-model="dobHomeFront" md-cell>{{ (100 * dobHomeFront.age41to54 / dobHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>55–64</td>
              <td ng-model="dobHomeFront" md-cell>{{ dobHomeFront.age55to64 }}</td>
              <td ng-model="dobHomeFront" md-cell>{{ (100 * dobHomeFront.age55to64 / dobHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>65+</td>
              <td ng-model="dobHomeFront" md-cell>{{ dobHomeFront.age65tobeyond }}</td>
              <td ng-model="dobHomeFront" md-cell> {{ (100 * dobHomeFront.age65tobeyond / dobHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell> {{ dobHomeFront.total }}</td>
              <td ng-model="percent" md-cell>{{ (100 * dobHomeFront.total / dobHomeFront.total ) | number:2  }}%</td>
            </tr>

          </tbody>

<!-- HomeFront: Child Age ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Age: Children</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>0–18 mths</td>
              <td ng-model="dobHomeFront" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>19-35 mths</td>
              <td ng-model="dobHomeFront" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>36-59 mths</td>
              <td ng-model="dobHomeFront" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>60-71 mths (5 y.o.)</td>
              <td ng-model="dobHomeFront" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>6–9 yrs</td>
              <td ng-model="dobHomeFront" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>10–14 yrs</td>
              <td ng-model="dobHomeFront" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>15–17 yrs</td>
              <td ng-model="dobHomeFront" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>18+ child in home</td>
              <td ng-model="dobHomeFront" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>

<!-- HomeFront: Last Residence ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Last Residence</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Ramsey</td>
              <td ng-model="residenceHomeFront" md-cell>{{ residenceHomeFront.ramsey }}</td>
              <td ng-model="residenceHomeFront" md-cell>{{ (100 * residenceHomeFront.ramsey / residenceHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Suburban Ramsey Co.</td>
              <td ng-model="residenceHomeFront" md-cell>{{ residenceHomeFront.subRamsey }}</td>
              <td ng-model="residenceHomeFront" md-cell>{{ (100 * residenceHomeFront.subRamsey / residenceHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Washington Co.</td>
              <td ng-model="residenceHomeFront" md-cell>{{ residenceHomeFront.washington }}</td>
              <td ng-model="residenceHomeFront" md-cell>{{ (100 * residenceHomeFront.washington / residenceHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Hennepin</td>
              <td ng-model="residenceHomeFront" md-cell>{{ residenceHomeFront.hennepin }}</td>
              <td ng-model="residenceHomeFront" md-cell>{{ (100 * residenceHomeFront.hennepin / residenceHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Suburban Hennepin Co.</td>
              <td ng-model="residenceHomeFront" md-cell>{{ residenceHomeFront.subHennepin }}</td>
              <td ng-model="residenceHomeFront" md-cell>{{ (100 * residenceHomeFront.subHennepin / residenceHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other Metro County</td>
              <td ng-model="residenceHomeFront" md-cell>{{ residenceHomeFront.otherMetroC }}</td>
              <td ng-model="residenceHomeFront" md-cell>{{ (100 * residenceHomeFront.otherMetroC / residenceHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Outside Twin Cities Metro</td>
              <td ng-model="residenceHomeFront" md-cell>{{ residenceHomeFront.outsideTCMetro }}</td>
              <td ng-model="residenceHomeFront" md-cell>{{ (100 * residenceHomeFront.outsideTCMetro / residenceHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Outside of State</td>
              <td ng-model="residenceHomeFront" md-cell>{{ residenceHomeFront.outsideState }}</td>
              <td ng-model="residenceHomeFront" md-cell>{{ (100 * residenceHomeFront.outsideState / residenceHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other</td>
              <td ng-model="residenceHomeFront" md-cell>{{ residenceHomeFront.other }}</td>
              <td ng-model="residenceHomeFront" md-cell>{{ (100 * residenceHomeFront.other / residenceHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="residenceHomeFront" md-cell>{{ residenceHomeFront.total }}</td>
              <td ng-model="residenceHomeFront" md-cell>{{ (100 * residenceHomeFront.total / residenceHomeFront.total ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- HomeFront: Earned Income ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Earned Income</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>$0 – $499</td>
              <td ng-model="earnedIncomeHomeFront" md-cell>{{ earnedIncomeHomeFront.n0_499 }}</td>
              <td ng-model="earnedIncomeHomeFront" md-cell>{{ (100 * earnedIncomeHomeFront.n0_499 / earnedIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$500 – $999</td>
              <td ng-model="earnedIncomeHomeFront" md-cell>{{ earnedIncomeHomeFront.n500_999 }}</td>
              <td ng-model="earnedIncomeHomeFront" md-cell>{{ (100 * earnedIncomeHomeFront.n500_999 / earnedIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$1000 – $1999</td>
              <td ng-model="earnedIncomeHomeFront" md-cell>{{ earnedIncomeHomeFront.n1000_1999 }}</td>
              <td ng-model="earnedIncomeHomeFront" md-cell>{{ (100 * earnedIncomeHomeFront.n1000_1999 / earnedIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$2000 – $2999</td>
              <td ng-model="earnedIncomeHomeFront" md-cell>{{ earnedIncomeHomeFront.n2000_2999 }}</td>
              <td ng-model="earnedIncomeHomeFront" md-cell>{{ (100 * earnedIncomeHomeFront.n2000_2999 / earnedIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$3000+</td>
              <td ng-model="earnedIncomeHomeFront" md-cell>{{ earnedIncomeHomeFront.n3000_plus }}</td>
              <td ng-model="earnedIncomeHomeFront" md-cell>{{ (100 * earnedIncomeHomeFront.n3000_plus / earnedIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="earnedIncomeHomeFront" md-cell>{{ earnedIncomeHomeFront.total }}</td>
              <td ng-model="earnedIncomeHomeFront" md-cell>{{ (100 * earnedIncomeHomeFront.total / earnedIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- HomeFront: Unearned Income ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Unearned Income</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>$0 – $499</td>
              <td ng-model="unearnedIncomeHomeFront" md-cell>{{ unearnedIncomeHomeFront.n0_499 }}</td>
              <td ng-model="unearnedIncomeHomeFront" md-cell>{{ (100 * unearnedIncomeHomeFront.n0_499 / unearnedIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$500 – $999</td>
              <td ng-model="unearnedIncomeHomeFront" md-cell>{{ earnedIncomeHomeFront.n500_999 }}</td>
              <td ng-model="unearnedIncomeHomeFront" md-cell>{{ (100 * unearnedIncomeHomeFront.n500_999 / unearnedIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$1000 – $1999</td>
              <td ng-model="unearnedIncomeHomeFront" md-cell>{{ unearnedIncomeHomeFront.n1000_1999 }}</td>
              <td ng-model="unearnedIncomeHomeFront" md-cell>{{ (100 * unearnedIncomeHomeFront.n1000_1999 / unearnedIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$2000 – $2999</td>
              <td ng-model="unearnedIncomeHomeFront" md-cell>{{ unearnedIncomeHomeFront.n2000_2999 }}</td>
              <td ng-model="unearnedIncomeHomeFront" md-cell>{{ (100 * unearnedIncomeHomeFront.n2000_2999 / unearnedIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$3000+</td>
              <td ng-model="unearnedIncomeHomeFront" md-cell>{{ unearnedIncomeHomeFront.n3000_plus }}</td>
              <td ng-model="unearnedIncomeHomeFront" md-cell>{{ (100 * unearnedIncomeHomeFront.n3000_plus / unearnedIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="unearnedIncomeHomeFront" md-cell>{{ unearnedIncomeHomeFront.total }}</td>
              <td ng-model="unearnedIncomeHomeFront" md-cell>{{ (100 * unearnedIncomeHomeFront.total / unearnedIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- HomeFront: Total Income ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Total Income</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>$0 – $499</td>
              <td ng-model="totalIncomeHomeFront" md-cell>{{ totalIncomeHomeFront.n0_499 }}</td>
              <td ng-model="totalIncomeHomeFront" md-cell>{{ (100 * totalIncomeHomeFront.n0_499 / totalIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$500 – $999</td>
              <td ng-model="totalIncomeHomeFront" md-cell>{{ totalIncomeHomeFront.n500_999 }}</td>
              <td ng-model="totalIncomeHomeFront" md-cell>{{ (100 * totalIncomeHomeFront.n500_999 / totalIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$1000 – $1999</td>
              <td ng-model="totalIncomeHomeFront" md-cell>{{ totalIncomeHomeFront.n1000_1999 }}</td>
              <td ng-model="totalIncomeHomeFront" md-cell>{{ (100 * totalIncomeHomeFront.n1000_1999 / totalIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$2000 – $2999</td>
              <td ng-model="totalIncomeHomeFront" md-cell>{{ totalIncomeHomeFront.n2000_2999 }}</td>
              <td ng-model="totalIncomeHomeFront" md-cell>{{ (100 * totalIncomeHomeFront.n2000_2999 / totalIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>$3000+</td>
              <td ng-model="totalIncomeHomeFront" md-cell>{{ totalIncomeHomeFront.n3000_plus }}</td>
              <td ng-model="totalIncomeHomeFront" md-cell>{{ (100 * totalIncomeHomeFront.n3000_plus / totalIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="totalIncomeHomeFront" md-cell>{{ totalIncomeHomeFront.total }}</td>
              <td ng-model="totalIncomeHomeFront" md-cell>{{ (100 * totalIncomeHomeFront.total / totalIncomeHomeFront.total ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- HomeFront: Persons Exiting Housing ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Persons Exiting Housing</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Graduated</td>
              <td ng-model="exitHomeFront" md-cell>{{ exitHomeFront.graduated }}</td>
              <td ng-model="exitHomeFront" md-cell>{{ (100 * exitHomeFront.graduated / exitHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Left voluntarily (not grad)</td>
              <td ng-model="exitHomeFront" md-cell>{{ exitHomeFront.leftVoluntarily }}</td>
              <td ng-model="exitHomeFront" md-cell>{{ (100 * exitHomeFront.leftVoluntarily / exitHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Terminated/Mutual termination</td>
              <td ng-model="exitHomeFront" md-cell>{{ exitHomeFront.terminated }}</td>
              <td ng-model="exitHomeFront" md-cell>{{ (100 * exitHomeFront.terminated / exitHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other (i.e. death)</td>
              <td ng-model="exitHomeFront" md-cell>{{ exitHomeFront.other }}</td>
              <td ng-model="exitHomeFront" md-cell>{{ (100 * exitHomeFront.other / exitHomeFront.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="exitHomeFront" md-cell>{{ exitHomeFront.total }}</td>
              <td ng-model="exitHomeFront" md-cell>{{ (100 * exitHomeFront.total / exitHomeFront.total ) | number:2  }}%</td>
            </tr>
          </tbody>

        </table>
      </md-table-container>

      <md-divider ng-if="!$last"></md-divider>
