<div ng-include="'public/views/partials/header.html'"> </div>

<div layout="column">
  <div class="container" layout="row" flex ng-cloak>
    <md-sidenav layout="column" class="sidenav1 md-whiteframe-4dp" md-component-id="left">
      <div class="md-padding">
        <h1 class="md-title">Program</h1>
        <div layout="row" layout-wrap>
          <md-input-container class="programinput" flex="100">
            <p class="selectprogram"><label>Select Program(s)</label></p>
            <!--<div flex-xs="" flex="50">-->
              <!--<md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">-->
                <!--<span ng-if="isChecked()">Un-</span>Select All-->
              <!--</md-checkbox>-->
            <!--</div>-->
            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
              <md-checkbox ng-model="toggleSelect" ng-init="toggleSelect = true"
                       ng-click="toggle(item, selectedprogram)" class="md-primary">
                {{ item }}
              </md-checkbox>
            </div>
          </md-input-container>

          <md-input-container class="programinput" flex="100">
            <p class="selectprogram"><label>Select Outcome(s)</label></p>
            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="outcome in outcomes">
              <md-checkbox ng-model="toggleSelect" ng-init="toggleSelect = true"
                       ng-click="toggle(outcome, selectedoutcome)" class="md-primary">
                {{ outcome }}
              </md-checkbox>
            </div>
          </md-input-container>
      </div>


        <fieldset class="dateSelect">
            <h1 class="md-title">Reporting Period</h1>
            <!-- <label>Select Date Range</label> -->
            <div class="calendar">
              <p>Start Date</p>
              <md-datepicker ng-model="startdate"  name="dateField"  md-max-date="enddate" ng-change="startDate(startdate)"></md-datepicker>
            </div>
            <div class="calendar">
              <p>End Date</p>
              <md-datepicker ng-model="enddate" name="dateField" md-min-date="startdate" md-max-date="maxDate" ng-change="endDate(enddate)">
              </md-datepicker>
            </div>
        </fieldset>

        <div class="action-buttons" layout="column">
            <md-button class="md-raised md-primary" ng-click="newQuery()">Submit Query</md-button>
            <md-button id="reset" class="md-raised" ng-click="resetQuery()">Reset Query</md-button>
            <md-button id="export" class="md-raised export">Export to CSV</md-button>
        </div>
      </div>

    </md-sidenav>

<!-- DATA DISPLAY TABLES ------------------------------------------------->

    <md-content layout="column" flex>
      <div class="datagrid" layout = "row" flex>

      <md-divider ng-if="!$last"></md-divider>

        <div ng-include="'public/views/partials/programoutcomes/outcomeemp.html'"> </div>
        <div ng-include="'public/views/partials/programoutcomes/outcomeempII.html'"> </div>
        <div ng-include="'public/views/partials/programoutcomes/outcomehomeagain.html'"> </div>
        <div ng-include="'public/views/partials/programoutcomes/outcomehomefront.html'"> </div>
        <div ng-include="'public/views/partials/programoutcomes/outcomehomesafe.html'"> </div>
        <!-- <div ng-include="'public/views/partials/programoutcomes/outcometotals.html'"> </div> -->

      </div>

    </md-content>
  </div>
</div>
