<!-- ng-show="selectedprogram.indexOf('EMP') !== -1" -->

<!-- Economic Stability --------------------------------->
        <md-table-container ng-model="toggleSelect" class="econ"  flex>
          <md-toolbar flex>
            <h1 class="md-title tablehead">Economic Stability</h1>
          </md-toolbar>

<!-- Housing : Housing Less than 1 year ----------------------------->
          <table md-table >
          <thead md-head>
            <tr md-row >
              <th md-column>Remained in Housing Less than 1 Year</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>EMP I</td>
              <td ng-model="houseStabil" md-cell>{{ empGender.female }}</td>
              <td ng-model="empGender" md-cell>{{ (100 * empGender.female / empGender.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>EMP II</td>
              <td ng-model="empGender" md-cell>{{ empGender.male }}</td>
              <td ng-model="empGender" md-cell>{{ (100 * empGender.male / empGender.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Home Again</td>
              <td ng-model="empGender" md-cell>{{ empGender.male }}</td>
              <td ng-model="empGender" md-cell>{{ (100 * empGender.male / empGender.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Home Safe</td>
              <td ng-model="empGender" md-cell>{{ empGender.male }}</td>
              <td ng-model="empGender" md-cell>{{ (100 * empGender.male / empGender.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Home Front</td>
              <td ng-model="empGender" md-cell>{{ empGender.male }}</td>
              <td ng-model="empGender" md-cell>{{ (100 * empGender.male / empGender.total ) | number:2 }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="empGender" md-cell>{{ empGender.total }}</td>
              <td ng-model="empGender" md-cell>{{ (100 * empGender.total / empGender.total ) | number:2 }}%</td>
            </tr>
          </tbody>
        </table>

<!-- Housing : Housing More than 1 year ----------------------------->
          <table md-table >
          <thead md-head>
            <tr md-row >
              <th md-column>Remained in Housing for at least 1 Year</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>EMP I</td>
              <td ng-model="houseStabil" md-cell>{{ empGender.female }}</td>
              <td ng-model="empGender" md-cell>{{ (100 * empGender.female / empGender.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>EMP II</td>
              <td ng-model="empGender" md-cell>{{ empGender.male }}</td>
              <td ng-model="empGender" md-cell>{{ (100 * empGender.male / empGender.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Home Again</td>
              <td ng-model="empGender" md-cell>{{ empGender.male }}</td>
              <td ng-model="empGender" md-cell>{{ (100 * empGender.male / empGender.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Home Safe</td>
              <td ng-model="empGender" md-cell>{{ empGender.male }}</td>
              <td ng-model="empGender" md-cell>{{ (100 * empGender.male / empGender.total ) | number:2 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Home Front</td>
              <td ng-model="empGender" md-cell>{{ empGender.male }}</td>
              <td ng-model="empGender" md-cell>{{ (100 * empGender.male / empGender.total ) | number:2 }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="empGender" md-cell>{{ empGender.total }}</td>
              <td ng-model="empGender" md-cell>{{ (100 * empGender.total / empGender.total ) | number:2 }}%</td>
            </tr>
          </tbody>
        </table>

      </md-table-container>
