<div ng-include="'public/views/partials/header.html'"> </div>
<h1>Solid Ground Uploads</h1>
<p>1. Open Ms Access to Postgresql application on your computer.</p>
<p>2.Within MS Access to Postgresql</p>
<p>3. Click next</p>
<p>4. Filename will be set to the Access Database file</p>
<p>5. Click next</p>
<p>6. select Create dump file field</p>
<p>7. Make sure Desination Database iput field reads: movedb</p>
<p>8. Click Next</p>
<p>9. Make sure all checkboxes are selected or click Selected or click select  all to do this</p>
<p>10. Click next</p>
<p>11. Click run Now button</p>
<div>
    <input type="file" file-model="myFile"/>
    <md-button ng-click="uploadFile()" class="md-raised md-cornered md-raised md-primary"> upload me</md-button>

</div>

<!--<lf-ng-md-file-input lf-files="files01" lf-api="api01" ng-disabled="disabled01"></lf-ng-md-file-input>-->
<!--<md-button class="md-raised md-warn" ng-click="api01.removeAll()">remove all file outside</md-button>-->
<!--<md-checkbox ng-model="disabled01" aria-label="disabled01">-->
    <!--Disable-->
<!--</md-checkbox>-->

<!--https://github.com/shuyu/angular-material-fileinput-->
<!--http://shuyu.github.io/angular-material-fileinput/example/-->
