<!-- EMP II (EAST MANOR PLACE II) --------------------------------->
        <md-table-container flex>
          <md-toolbar flex>
            <h1 class="md-title tablehead" >{{"EMP II I"}}</h1>
          </md-toolbar>

<!-- EMP II: Gender ----------------------------->
          <table md-table >
          <thead md-head>
            <tr md-row >
              <th md-column>Gender</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Female</td>
              <td ng-model="number" md-cell>{{10}}</td>
              <td ng-model="percent" md-cell>{{50 + "%"}}</td>
            </tr>
            <tr md-row>
              <td md-cell>Male</td>
              <td ng-model="number" md-cell>{{}}</td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>
<!-- EMP II: Adult Race -------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Race: Adults</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
          <tr md-row>
            <td md-cell>African</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.african }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>African American</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.africanAmerican }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>American Indian</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.americanIndian }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Asian/SE Asian/Pacific Islander</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.asian }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Caucasian/White</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.caucasianWhite }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Hispanic/Chicano</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.hispanicLatino }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Multiracial</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.multiracial }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr md-row>
            <td md-cell>Other/Unknown</td>
            <td ng-model="raceAdultEMPII" md-cell>{{ raceAdultEMPII.other }}</td>
            <td ng-model="total" md-cell>90</td>
          </tr>
          <tr class="totalrow" md-row>
            <td md-cell>Total</td>
            <td ng-model="number" md-cell></td>
            <td ng-model="percent" md-cell>{{  }}</td>
          </tr>
          </tbody>

<!-- EMP II: Child Race ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Race: Children</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>African</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.african }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.african / raceChildEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>African American</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.africanAmerican }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.africanAmerican / raceChildEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>American Indian</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.americanIndian }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.americanIndian / raceChildEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Asian/SE Asian/Pacific Islander</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.asian }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.asian / raceChildEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Caucasian/White</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.caucasianWhite }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.caucasianWhite / raceChildEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Hispanic/Chicano</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.hispanicLatino }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.hispanicLatino / raceChildEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Multiracial</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.multiracial }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.multiracial / raceChildEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Other/Unknown</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.other }}</td>
              <td ng-model="raceChildEMPII" md-cell>{{ (100 * raceChildEMPII.other / raceChildEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="raceChildEMPII" md-cell>{{ raceChildEMPII.totalCount }}</td>
              <td ng-model="percent" md-cell>{{ (100 * raceChildEMPII.total / raceChildEMPII.total ) | number:2  }}%</td>
            </tr>
          </tbody>

<!-- EMPII: Adult Age ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Age: Adults</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>18-22</td>
              <td ng-model="dobEMPII" md-cell>{{ dobEMPII.age18to22 }}</td>
              <td ng-model="dobEMPII" md-cell>{{ (100 * dobEMPII.age18to22 / dobEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>23–30</td>
              <td ng-model="dobEMPII" md-cell>{{ dobEMPII.age23to30 }}</td>
              <td ng-model="dobEMPII" md-cell>{{ (100 * dobEMPII.age23to30 / dobEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>31–40</td>
              <td ng-model="dobEMPII" md-cell>{{ dobEMPII.age31to40 }}</td>
              <td ng-model="dobEMPII" md-cell>{{ (100 * dobEMPII.age31to40 / dobEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>41–54</td>
              <td ng-model="dobEMPII" md-cell>{{ dobEMPII.age41to54 }}</td>
              <td ng-model="dobEMPII" md-cell>{{ (100 * dobEMPII.age41to54 / dobEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>55–64</td>
              <td ng-model="dobEMPII" md-cell>{{ dobEMPII.age55to64 }}</td>
              <td ng-model="dobEMPII" md-cell>{{ (100 * dobEMPII.age55to64 / dobEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>65+</td>
              <td ng-model="dobEMPII" md-cell>{{ dobEMPII.age65tobeyond }}</td>
              <td ng-model="dobEMPII" md-cell> {{ (100 * dobEMPII.age65tobeyond / dobEMPII.total ) | number:2  }}%</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell> {{ dobEMPII.total }}</td>
              <td ng-model="percent" md-cell>{{ (100 * dobEMPII.total / dobEMPII.total ) | number:2  }}%</td>
            </tr>

          </tbody>

<!-- EMP II: Child Age ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Age: Children</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>0–18 mths</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>19-35mths</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>36-59 mths</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>60-71 mths (5 y.o.)</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>6–9 yrs</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>10–14 yrs</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>15–17 yrs</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>18+ child in home</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>

<!-- EMP II: Last Residence ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Last Residence</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Ramsey</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Suburban Ramsey Co.</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Washington Co.</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="dobEMPII" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Hennepin</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="dobEMPII" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Suburban Hennepin Co.</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="dobEMPII" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Other Metro County</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="dobEMPII" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Outside Twin Cities Metro</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="dobEMPII" md-cell>90</td>
            </tr>
            <tr md-row>
              <td md-cell>Outside of State</td>
              <td ng-model="dobEMPII" md-cell>{{  }}</td>
              <td ng-model="dobEMPII" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="dobEMPII" md-cell></td>
              <td ng-model="dobEMPII" md-cell>{{}}</td>
            </tr>
          </tbody>

<!-- EMPII: Household Income ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Household Income</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>

<!-- EMP II: Persons Exiting Housing ---------------------------->
          <thead md-head>
            <tr md-row >
              <th md-column>Persons Exiting Housing</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td ng-model="number" md-cell>Graduated</td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td ng-model="number" md-cell>Left voluntarily (not grad)</td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td ng-model="number" md-cell>Terminated/Mutual termination</td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr md-row>
              <td ng-model="number" md-cell>Other (i.e. death)</td>
              <td ng-model="percent" md-cell>{{  }}</td>
              <td ng-model="total" md-cell>90</td>
            </tr>
            <tr class="totalrow" md-row>
              <td md-cell>Total</td>
              <td ng-model="number" md-cell></td>
              <td ng-model="percent" md-cell>{{}}</td>
            </tr>
          </tbody>

        </table>
      </md-table-container>

      <md-divider ng-if="!$last"></md-divider>
