<!-- EMP (EAST METRO PLACE) --------------------------------->
        <md-table-container ng-model="toggleSelect" class="EMPI" ng-show="selectedprograms.indexOf('EMP') !== -1" flex>
          <md-toolbar flex>
            <h1 class="md-title tablehead" >EMP</h1>
          </md-toolbar>
<!-- EMP: Housing Stability ----------------------------->
          <table md-table ng-model="toggleSelect" ng-show="selectedoutcomes.indexOf('Housing Stability') !== -1">
          <thead md-head>
            <tr md-row >
              <th md-column>Housing Stability</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Families Entering Housing</td>
              <td md-cell>{{ houseEMP.entered }}</td>
              <td md-cell></td>
            </tr>
            <!-- <tr md-row>
              <td md-cell>Families making 1st step to stability</td>
              <td md-cell>{{ houseEMP. }}</td>
              <td md-cell>{{ (100 * houseEMP. / FAMILIES_PROGRAM ) | number:0 }}%</td>
            </tr> -->
            <tr md-row>
              <td md-cell>Families residing in housing at least 6 months</td>
              <td md-cell>{{ houseEMP.reside6 }}</td>
              <td md-cell>{{ (100 * houseEMP.reside6 / FAMILIES_PROGRAM ) | number:0 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Families residing in housing 1+ years</td>
              <td md-cell>{{ houseEMP.reside1year }}</td>
              <td md-cell>{{ (100 * houseEMP.reside1year / FAMILIES_PROGRAM ) | number:0 }}%</td>
            </tr>
            <tr md-row class="boldrow">
              <td md-cell>Families achieving housing stability</td>
              <td md-cell>{{ houseEMP.achieveStability }}</td>
              <td md-cell>{{ (100 * houseEMP.achieveStability / FAMILIES_PROGRAM ) | number:0 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Number exiting housing</td>
              <td md-cell>{{ houseEMP.exited }}</td>
              <td md-cell></td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Families securing permanent housing</td>
              <td md-cell>{{ houseEMP.securePermanent }}</td>
              <td md-cell>{{ (100 * houseEMP.securePermanent / houseEMP.exited ) | number:0 }}%</td>
            </tr>
            <!-- <tr md-row>
              <td md-cell>Other</td>
              <td md-cell>{{ houseEMP.other }}</td>
              <td md-cell>{{ (100 * houseEMP.other / houseEMP.total ) | number:0 }}%</td>
            </tr> -->

          </tbody>
        </table>

<!-- EMP: Educational Advancement -------------------------->
        <table md-table ng-show="selectedoutcomes.indexOf('Educational Advancement') !== -1">
            <thead md-head>
            <tr md-row >
              <th md-column>Educational Advancement</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
          <tr md-row>
            <td md-cell>Adults enrolled in education</td>
            <td md-cell>{{ empAdult.enrolled }}</td>
            <td md-cell>{{ (100 * empAdult.enrolled / empPeople.adult ) | number:0 }}%</td>
          </tr>
          <tr md-row>
            <td md-cell>Adults completing education</td>
            <td md-cell>{{ empAdult.complete }}</td>
            <td md-cell>{{ (100 * empAdult.complete / empAdult.enrolled ) | number:0 }}%</td>
          </tr>
          <tr md-row>
            <td md-cell>Adults continuing education</td>
            <td md-cell>{{ empAdult.continue }}</td>
            <td md-cell>{{ (100 * empAdult.continue / empAdult.enrolled ) | number:0 }}%</td>
          </tr>
          <tr md-row>
            <td md-cell>Adults who dropped out</td>
            <td md-cell>{{ empAdult.dropout }}</td>
            <td md-cell>{{ (100 * empAdult.dropout / empAdult.enrolled ) | number:0 }}%</td>
          </tr>
          <tr md-row class="boldrow bottomdivider">
            <td md-cell>Adults who completed/continued education</td>
            <td md-cell>{{ empAdult.complete + empAdult.continue }}</td>
            <td md-cell>{{ (100 * (empAdult.complete + empAdult.continue) / empAdult.enrolled ) | number:0 }}%</td>
          </tr>
          <md-divider></md-divider>
          <!-- <tr md-row>
            <td md-cell>School-age children</td>
            <td md-cell>{{ empRace.multiracial }}</td>
            <td md-cell>{{ (100 * empRace.multiracial / empRace.total ) | number:0 }}%</td>
          </tr>
          <tr md-row class="boldrow">
            <td md-cell>Children regularly attending school</td>
            <td md-cell>{{ empRace.other }}</td>
            <td md-cell>{{ (100 * empRace.other / empRace.total ) | number:0 }}%</td>
          </tr> -->
          <tr md-row>
            <td md-cell>Adults with a documented learning disability</td>
            <td md-cell>{{ adultDisEMP.countTotal }}</td>
            <td md-cell>{{ (100 * adultDisEMP.countTotal / empPeople.adult ) | number:0 }}%</td>
          </tr>
          <tr md-row class="boldrow">
            <td md-cell>Adults who have/had an IEP</td>
            <td md-cell>{{ adultDisEMP.IEP }}</td>
            <td md-cell>{{ (100 * adultDisEMP.IEP / adultDisEMP.countTotal ) | number:0 }}%</td>
          </tr>
          <tr md-row>
            <td md-cell>Children with a documented learning disability</td>
            <td md-cell>{{ childDisEMP.countTotal }}</td>
            <td md-cell>{{ (100 * childDisEMP.countTotal / CHILDREN_PROGRAM ) | number:0 }}%</td>
          </tr>
          <tr class="boldrow" md-row>
            <td md-cell>Children who have/had an IEP</td>
            <td md-cell>{{ childDisEMP.IEP }}</td>
            <td md-cell>{{ (100 * childDisEMP.IEP / childDisEMP.countTotal ) | number:0 }}%</td>
          </tr>
          </tbody>
        </table>

<!-- EMP: Economic Stability ---------------------------->
        <table md-table ng-show="selectedoutcomes.indexOf('Economic Stability') !== -1">
          <thead md-head>
            <tr md-row>
              <th md-column>Economic Stability</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row class="boldrow">
              <td md-cell>Adults with a job at year-end or exit</td>
              <td
              md-cell>{{ empEconS.jobAtYearEndorExit }}</td>
              <td
              md-cell>{{ (100 * empEconS.jobAtYearEndorExit / empPeople.adult ) | number:0 }}%</td>
            </tr>
            <!-- <tr class="boldrow" md-row>
              <td md-cell>Increased employment income at exit</td>
              <td md-cell>{{ empEconS.africanAmerican }}</td>
              <td md-cell>{{ (100 * empEconS.africanAmerican / empEconS.totalCount ) | number:0 }}%</td>
            </tr> -->
            <!-- <tr md-row class="boldrow">
              <td md-cell>Increased household income (all) at exit</td>
              <td md-cell>{{ empEconS.americanIndian }}</td>
              <td md-cell>{{ (100 * empEconS.americanIndian / empEconS.totalCount ) | number:0  }}%</td>
            </tr> -->
            <tr md-row>
              <td md-cell>Disabled adults</td>
              <td md-cell>{{ empAdultDis.total }}</td>
              <td md-cell>{{ (100 * empAdultDis.total / empPeople.adult ) | number:0 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled adults already receiving benefits</td>
              <td md-cell>{{ empEconS.alreadySSD }}</td>
              <td md-cell>{{ (100 * empEconS.alreadySSD / empAdultDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled adults who applied for benefits</td>
              <td md-cell>{{ empEconS.appliedforSSD }}</td>
              <td md-cell>{{ (100 * empEconS.appliedforSSD / empAdultDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled adults approved for benefits</td>
              <td md-cell>{{ empEconS.approvedSSDduringProgram }}</td>
              <td md-cell>{{ (100 * empEconS.approvedSSDduringProgram / empAdultDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled adults denied benefits</td>
              <td md-cell>{{ empEconS.appliedforSSDbutDenied }}</td>
              <td md-cell>{{ (100 * empEconS.appliedforSSDbutDenied / empAdultDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled adults who refused to apply</td>
              <td md-cell>{{ empEconS.refusedSSD }}</td>
              <td md-cell>{{ (100 * empEconS.refusedSSD / empAdultDis.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Disabled adults who received/applied for disability</td>
              <td md-cell>{{ empEconS.appliedforSSD + empEconS.alreadySSD }}</td>
              <td md-cell>{{ (100 * (empEconS.appliedforSSD + empEconS.alreadySSD) / empAdultDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled children</td>
              <td md-cell>{{ emp_childDis.total }}</td>
              <td md-cell>{{ (100 * emp_childDis.total / CHILDREN_PROGRAM) | number:0  }}%</td>
            </tr>
            <!-- <tr md-row>
              <td md-cell>Disabled children already receiving benefits</td>
              <td md-cell>{{ raceChildEMP.other }}</td>
              <td md-cell>{{ (100 * raceChildEMP.other / raceChildEMP.totalCount ) | number:0  }}%</td>
            </tr> -->
            <!-- <tr md-row>
              <td md-cell>Disabled children who applied for benefits</td>
              <td md-cell>{{ raceChildEMP.other }}</td>
              <td md-cell>{{ (100 * raceChildEMP.other / raceChildEMP.totalCount ) | number:0  }}%</td>
            </tr> -->
            <!-- <tr md-row>
              <td md-cell>Disabled children approved for benefits</td>
              <td md-cell>{{ raceChildEMP.other }}</td>
              <td md-cell>{{ (100 * raceChildEMP.other / raceChildEMP.totalCount ) | number:0  }}%</td>
            </tr> -->
            <!-- <tr md-row>
              <td md-cell>Disabled children denied benefits</td>
              <td md-cell>{{ raceChildEMP.other }}</td>
              <td md-cell>{{ (100 * raceChildEMP.other / raceChildEMP.totalCount ) | number:0  }}%</td>
            </tr> -->
            <!-- <tr md-row>
              <td md-cell>Disabled children who refused to apply</td>
              <td md-cell>{{ raceChildEMP.other }}</td>
              <td md-cell>{{ (100 * raceChildEMP.other / raceChildEMP.totalCount ) | number:0  }}%</td>
            </tr> -->
            <!-- <tr class="boldrow" md-row>
              <td md-cell>Disabled children applying for disability</td>
              <td md-cell>{{ raceChildEMP.other }}</td>
              <td md-cell>{{ (100 * raceChildEMP.other / raceChildEMP.totalCount ) | number:0  }}%</td>
            </tr> -->

          </tbody>
        </table>
<!-- EMP: Strengthened Families ---------------------------->
        <table md-table ng-show="selectedoutcomes.indexOf('Strengthened Families') !== -1">
          <thead md-head>
            <tr md-row >
              <th md-column>Strengthened Families</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <!-- <tr class="boldrow" md-row>
              <td md-cell>Achieved a Parenting Goal</td>
              <td md-cell>{{ dobEMP.age18to22 }}</td>
              <td md-cell>{{ (100 * dobEMP.age18to22 / dobEMP.total ) | number:0  }}%</td>
            </tr> -->
            <tr md-row>
              <td md-cell>Completed Parenting Education (prior year)</td>
              <td md-cell>{{ empParentEdu_priorYr.completed }}</td>
              <td md-cell>{{ (100 * empParentEdu_priorYr.completed / empPeople.adult ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Completed Parenting Education (current year)</td>
              <td md-cell>{{ parentEduThisYear_EMP.total }}</td>
              <td md-cell>{{ (100 * parentEduThisYear_EMP.total / empPeople.adult ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Total completing Parenting Education</td>
              <td md-cell>{{ empParentEdu_priorYr.completed + parentEduThisYear_EMP.total }}</td>
              <td md-cell>{{ (100 * empParentEdu.total / empPeople.adult ) | number:0  }}%</td>
            </tr>
            <!-- <tr class="boldrow" md-row>
              <td md-cell>Achieved a Budgeting Goal</td>
              <td md-cell>{{ dobEMP.age55to64 }}</td>
              <td md-cell>{{ (100 * dobEMP.age55to64 / dobEMP.total ) | number:0  }}%</td>
            </tr> -->
            <tr md-row>
              <td md-cell>Completed Budgeting Class (prior year)</td>
              <td md-cell>{{ budgetingEduYearBefore.emp }}</td>
              <td md-cell> {{ (100 * budgetingEduYearBefore.emp / empPeople.adult ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Completed Budgeting Class (current year)</td>
              <td md-cell> {{ emp_budgetingEduSameYear.total }}</td>
              <td md-cell>{{ (100 * emp_budgetingEduSameYear.total / empPeople.adult ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Total Completing Budgeting Class</td>
              <td md-cell> {{ emp_budgetingEdu.total }}</td>
              <td md-cell>{{ (100 * emp_budgetingEdu.total / empPeople.adult ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Families experiencing Family Violence</td>
              <td md-cell> {{ violentEMP.total }}</td>
              <td md-cell>{{ (100 * violentEMP.total / FAMILIES_PROGRAM ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Families with a written Safety Plan</td>
              <td md-cell> {{ violentEMP.yesWithSafety }}</td>
              <td md-cell>{{ (100 * violentEMP.yesWithSafety / violentEMP.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Families residing in housing 1+ years</td>
              <td md-cell> {{ houseEMP.reside1year }}</td>
              <td md-cell></td>
            </tr>
            <tr md-row>
              <td md-cell>Completed Tenant Training (prior year)</td>
              <td md-cell> {{ tenantTrainingPriorYear.emp }}</td>
              <td md-cell>{{ (100 * tenantTrainingPriorYear.emp / houseEMP.reside1year ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Completed Tenant Training (current year)</td>
              <td md-cell> {{ tenantTrainingSameYear.emp }}</td>
              <td md-cell>{{ (100 * tenantTrainingSameYear.emp / houseEMP.reside1year ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Families in housing 1+ years completing Tenant Training</td>
              <td md-cell> {{ tenantTraining.emp }}</td>
              <td md-cell>{{ (100 * tenantTraining.emp / houseEMP.reside1year ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Completed DBT (prior year)</td>
              <td md-cell> {{ empDbtPriorYear.total }}</td>
              <td md-cell>{{ (100 * empDbtPriorYear.total / houseEMP.reside1year ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Completed DBT (current year)</td>
              <td md-cell> {{ empDbtSameYear.total }}</td>
              <td md-cell>{{ (100 * empDbtSameYear.total / houseEMP.reside1year ) | number:0  }}%</td>
            </tr>
            <!-- <tr md-row>
              <td md-cell>Currently participating in DBT</td>
              <td md-cell> {{ dobEMP.total }}</td>
              <td md-cell>{{ (100 * dobEMP.total / houseEMP.reside1year ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Dropped out of DBT and did not return</td>
              <td md-cell> {{ dobEMP.total }}</td>
              <td md-cell>{{ (100 * dobEMP.total / dobEMP.total ) | number:0  }}%</td>
            </tr> -->
            <tr md-row>
              <td md-cell>Adults in housing 1+ years completing DBT Skills</td>
              <td md-cell> {{ empDbt.total }}</td>
              <td md-cell>{{ (100 * empDbt.total / houseEMP.reside1year ) | number:0  }}%</td>
            </tr>
          </tbody>
        </table>

<!-- EMP: Improved Health ---------------------------->
        <table md-table ng-show="selectedoutcomes.indexOf('Improved Health') !== -1">
          <thead md-head>
            <tr md-row >
              <th md-column>Improved Health</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Adults abusing substances</td>
              <td md-cell>{{ empHealthImp.total }}</td>
              <td md-cell>{{ (100 * empHealthImp.total / empPeople.adult ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Adults with a Rule 25 Assessment</td>
              <td md-cell>{{ empHealthImp.adultsHaveRuleAs }}</td>
              <td md-cell>{{ (100 * empHealthImp.adultsHaveRuleAs / empHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Adults attending CD treatment</td>
              <td md-cell>{{ empHealthImp.adultsCdTreatment }}</td>
              <td md-cell>{{ (100 * empHealthImp.adultsCdTreatment / empHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Adults attending self-help groups</td>
              <td md-cell>{{ empHealthImp.adultsSelfHelp }}</td>
              <td md-cell>{{ (100 * empHealthImp.adultsSelfHelp / empHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Adults maintaining sobriety for past 90 days</td>
              <td md-cell>{{ empHealthImp.sobrietyNinety }}</td>
              <td md-cell>{{ (100 * empHealthImp.sobrietyNinety / empHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Adults maintaining sobriety for past 6 months</td>
              <td md-cell>{{ empHealthImp.sobrietySixMo }}</td>
              <td md-cell>{{ (100 * empHealthImp.sobrietySixMo / empHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Adults maintaining sobriety for 12+ months</td>
              <td md-cell>{{ empHealthImp.sobrietyTwelvePlus }}</td>
              <td md-cell>{{ (100 * empHealthImp.sobrietyTwelvePlus / empHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Adults who abused substances achieving sobriety</td>
              <td md-cell>How is this different from 12 months?</td>
              <td md-cell>{{ (100 * empHealthImp.sobrietyTwelvePlus / empHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Adults with MI diagnosis</td>
              <td md-cell>{{ adultMI_EMP.yesAndBeingTreated + adultMI_EMP.yesAndReferredForAssessment + adultMI_EMP.yesAndNotBeingTreated }}</td>
              <td md-cell>{{ (100 * (adultMI_EMP.yesAndBeingTreated + adultMI_EMP.yesAndReferredForAssessment + adultMI_EMP.yesAndNotBeingTreated) / empPeople.adult ) | number:0 }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Adults with MI diagnosis receiving treatment</td>
              <td md-cell>{{ adultMI_EMP.yesAndBeingTreated }}</td>
              <td md-cell>{{ (100 * adultMI_EMP.yesAndBeingTreated / (adultMI_EMP.yesAndBeingTreated + adultMI_EMP.yesAndReferredForAssessment + adultMI_EMP.yesAndNotBeingTreated) ) | number:0 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Adults with diagnosed MI referred for assessment</td>
              <td md-cell>{{ adultMI_EMP.yesAndReferredForAssessment }}</td>
              <td md-cell>{{ (100 * adultMI_EMP.yesAndReferredForAssessment / (adultMI_EMP.yesAndBeingTreated + adultMI_EMP.yesAndReferredForAssessment + adultMI_EMP.yesAndNotBeingTreated) ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Adults with undiagnosed MI referred for assessment</td>
              <td md-cell>{{ adultMI_EMP.undiagnosedReferredForAssessment }}</td>
              <td md-cell>{{ (100 * adultMI_EMP.undiagnosedReferredForAssessment / adultMI_EMP.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Children with MI diagnosis</td>
              <td md-cell>{{ childMI_EMP.yesTreated + childMI_EMP.yesReferred + childMI_EMP.yesNotTreated }}</td>
              <td md-cell>{{ (100 * (childMI_EMP.yesTreated + childMI_EMP.yesReferred + childMI_EMP.yesNotTreated) / empPeople.children ) | number:0 }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Children with MI diagnosis receiving treatment</td>
              <td md-cell>{{ childMI_EMP.yesTreated }}</td>
              <td  md-cell>{{ (100 * childMI_EMP.yesTreated / (childMI_EMP.yesTreated + childMI_EMP.yesReferred + childMI_EMP.yesNotTreated) ) | number:0 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Children with diagnosed MI referred for assessment</td>
              <td md-cell>{{ childMI_EMP.yesReferred }}</td>
              <td md-cell>{{ (100 * childMI_EMP.yesReferred / childMI_EMP.yesTreated + childMI_EMP.yesReferred + childMI_EMP.yesNotTreated ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Children with undiagnosed MI referred for assessment</td>
              <td md-cell>{{ childMI_EMP.undiagnosedReferred }}</td>
              <td md-cell>{{ (100 * childMI_EMP.undiagnosedReferred / empPeople.children ) | number:0  }}%</td>
            </tr>
          </tbody>
        </table>
<!-- EMP: Community Connections ---------------------------->
        <table md-table ng-show="selectedoutcomes.indexOf('Community Connections') !== -1">
          <thead md-head>
            <tr md-row >
              <th md-column>Community Connections</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row class="boldrow">
              <td md-cell>Increased their social support</td>
              <td md-cell>{{ socialEMP.totalPeople }}</td>
              <td md-cell>{{ (100 * socialEMP.totalPeople / FAMILIES_PROGRAM ) | number:0  }}%</td>
            </tr>
          </tbody>
        </table>
<!-- EMP: Graduates ---------------------------->
        <table md-table>
          <thead md-head>
            <tr md-row >
              <th md-column>Graduates</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <!-- <tr md-row>
              <td md-cell>Persons graduating</td>
              <td md-cell>{{ earnedIncomeEMP.n0_499 }}</td>
              <td md-cell>{{ (100 * earnedIncomeEMP.n0_499 / earnedIncomeEMP.total ) | number:0  }}%</td>
            </tr>
            <tr md-row class="boldrow">
              <td md-cell>Retained housing at 6 months</td>
              <td md-cell>{{ earnedIncomeEMP.n500_999 }}</td>
              <td md-cell>{{ (100 * earnedIncomeEMP.n500_999 / earnedIncomeEMP.total ) | number:0  }}%</td>
            </tr> -->
          </tbody>

        </table>
      </md-table-container>
