<!-- Home Front  --------------------------------->
        <md-table-container ng-model="toggleSelect" class="homefront" ng-show="selectedprogram.indexOf('Home Front') !== -1 || selectedprogram.indexOf('HomeFront') !== -1" flex>
          <md-toolbar flex>
            <h1 class="md-title tablehead" >{{"Home Front"}}</h1>
          </md-toolbar>

<!-- Home Front: Housing Stability ----------------------------->
          <table md-table ng-model="toggleSelect" ng-show="selectedoutcomes.indexOf('Housing Stability') !== -1">
          <thead md-head>
            <tr md-row >
              <th md-column>Housing Stability</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Families Entering Housing</td>
              <td md-cell>{{ houseHomeFront.entered }}</td>
              <td md-cell></td>
            </tr>
            <!-- <tr md-row>
              <td md-cell>Families making 1st step to stability</td>
              <td md-cell>{{ houseHomeFront. }}</td>
              <td md-cell>{{ (100 * houseHomeFront. / homeFrontPeople.family ) | number:0 }}%</td>
            </tr> -->
            <tr md-row>
              <td md-cell>Families residing in housing at least 6 months</td>
              <td md-cell>{{ houseHomeFront.reside6 }}</td>
              <td md-cell>{{ (100 * houseHomeFront.reside6 / homeFrontPeople.family ) | number:0 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Families residing in housing 1+ years</td>
              <td md-cell>{{ houseHomeFront.reside1year }}</td>
              <td md-cell>{{ (100 * houseHomeFront.reside1year / homeFrontPeople.family ) | number:0 }}%</td>
            </tr>
            <tr md-row class="boldrow">
              <td md-cell>Families achieving housing stability</td>
              <td md-cell>{{ houseHomeFront.achieveStability }}</td>
              <td md-cell>{{ (100 * houseHomeFront.achieveStability / homeFrontPeople.family ) | number:0 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Number exiting housing</td>
              <td md-cell>{{ houseHomeFront.exited }}</td>
              <td md-cell></td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Families securing permanent housing</td>
              <td md-cell>{{ houseHomeFront.securePermanent }}</td>
              <td md-cell>{{ (100 * houseHomeFront.securePermanent / houseHomeFront.exited ) | number:0 }}%</td>
            </tr>
            <!-- <tr md-row>
              <td md-cell>Other</td>
              <td md-cell>{{ houseHomeFront.other }}</td>
              <td md-cell>{{ (100 * houseHomeFront.other / houseHomeFront.total ) | number:0 }}%</td>
            </tr> -->

          </tbody>
        </table>

<!-- Home Front: Educational Advancement -------------------------->
        <table md-table ng-show="selectedoutcomes.indexOf('Educational Advancement') !== -1">
            <thead md-head>
            <tr md-row >
              <th md-column>Educational Advancement</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
          <tr md-row>
            <td md-cell>Adults enrolled in education</td>
            <td md-cell>{{ homeFrontAdult.enrolled }}</td>
            <td md-cell>{{ (100 * homeFrontAdult.enrolled / homeFrontPeople.adult ) | number:0 }}%</td>
          </tr>
          <tr md-row>
            <td md-cell>Adults completing education</td>
            <td md-cell>{{ homeFrontAdult.complete }}</td>
            <td md-cell>{{ (100 * homeFrontAdult.complete / homeFrontAdult.enrolled ) | number:0 }}%</td>
          </tr>
          <tr md-row>
            <td md-cell>Adults continuing education</td>
            <td md-cell>{{ homeFrontAdult.continue }}</td>
            <td md-cell>{{ (100 * homeFrontAdult.continue / homeFrontAdult.enrolled ) | number:0 }}%</td>
          </tr>
          <tr md-row>
            <td md-cell>Adults who dropped out</td>
            <td md-cell>{{ homeFrontAdult.dropout }}</td>
            <td md-cell>{{ (100 * homeFrontAdult.dropout / homeFrontAdult.enrolled ) | number:0 }}%</td>
          </tr>
          <tr md-row class="boldrow bottomdivider">
            <td md-cell>Adults who completed/continued education</td>
            <td md-cell>{{ homeFrontAdult.complete + homeFrontAdult.continue }}</td>
            <td md-cell>{{ (100 * (homeFrontAdult.complete + homeFrontAdult.continue) / homeFrontAdult.enrolled ) | number:0 }}%</td>
          </tr>
          <md-divider></md-divider>
          <!-- <tr md-row>
            <td md-cell>School-age children</td>
            <td md-cell>{{ empRace.multiracial }}</td>
            <td md-cell>{{ (100 * empRace.multiracial / empRace.total ) | number:0 }}%</td>
          </tr>
          <tr md-row class="boldrow">
            <td md-cell>Children regularly attending school</td>
            <td md-cell>{{ empRace.other }}</td>
            <td md-cell>{{ (100 * empRace.other / empRace.total ) | number:0 }}%</td>
          </tr> -->
          <tr md-row>
            <td md-cell>Adults with a documented learning disability</td>
            <td md-cell>{{ adultDisHomeFront.countTotal }}</td>
            <td md-cell>{{ (100 * adultDisHomeFront.countTotal / homeFrontPeople.adult ) | number:0 }}%</td>
          </tr>
          <tr md-row class="boldrow">
            <td md-cell>Adults who have/had an IEP</td>
            <td md-cell>{{ adultDisHomeFront.IEP }}</td>
            <td md-cell>{{ (100 * adultDisHomeFront.IEP / adultDisHomeFront.countTotal ) | number:0 }}%</td>
          </tr>
          <tr md-row>
            <td md-cell>Children with a documented learning disability</td>
            <td md-cell>{{ childDisHomeFront.countTotal }}</td>
            <td md-cell>{{ (100 * childDisHomeFront.countTotal / homeFrontPeople.children ) | number:0 }}%</td>
          </tr>
          <tr class="boldrow" md-row>
            <td md-cell>Children who have/had an IEP</td>
            <td md-cell>{{ childDisHomeFront.IEP }}</td>
            <td md-cell>{{ (100 * childDisHomeFront.IEP / childDisHomeFront.countTotal ) | number:0 }}%</td>
          </tr>
          </tbody>
        </table>

<!-- Home Front: Economic Stability ---------------------------->
        <table md-table ng-show="selectedoutcomes.indexOf('Economic Stability') !== -1">
          <thead md-head>
            <tr md-row>
              <th md-column>Economic Stability</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row class="boldrow">
              <td md-cell>Adults with a job at year-end or exit</td>
              <td
              md-cell>{{ homeFrontEconS.jobAtYearEndorExit }}</td>
              <td
              md-cell>{{ (100 * homeFrontEconS.jobAtYearEndorExit / homeFrontPeople.adult ) | number:0 }}%</td>
            </tr>
            <!-- <tr class="boldrow" md-row>
              <td md-cell>Increased employment income at exit</td>
              <td md-cell>{{ homeFrontEconS.africanAmerican }}</td>
              <td md-cell>{{ (100 * homeFrontEconS.africanAmerican / homeFrontEconS.totalCount ) | number:0 }}%</td>
            </tr> -->
            <!-- <tr md-row class="boldrow">
              <td md-cell>Increased household income (all) at exit</td>
              <td md-cell>{{ homeFrontEconS.americanIndian }}</td>
              <td md-cell>{{ (100 * homeFrontEconS.americanIndian / homeFrontEconS.totalCount ) | number:0  }}%</td>
            </tr> -->
            <tr md-row>
              <td md-cell>Disabled adults</td>
              <td md-cell>{{ homeFrontAdultDis.total }}</td>
              <td md-cell>{{ (100 * homeFrontAdultDis.total / homeFrontPeople.adult ) | number:0 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled adults already receiving benefits</td>
              <td md-cell>{{ homeFrontEconS.alreadySSD }}</td>
              <td md-cell>{{ (100 * homeFrontEconS.alreadySSD / homeFrontAdultDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled adults who applied for benefits</td>
              <td md-cell>{{ homeFrontEconS.appliedforSSD }}</td>
              <td md-cell>{{ (100 * homeFrontEconS.appliedforSSD / homeFrontAdultDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled adults approved for benefits</td>
              <td md-cell>{{ homeFrontEconS.approvedSSDduringProgram }}</td>
              <td md-cell>{{ (100 * homeFrontEconS.approvedSSDduringProgram / homeFrontAdultDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled adults denied benefits</td>
              <td md-cell>{{ homeFrontEconS.deniedSSD }}</td>
              <td md-cell>{{ (100 * homeFrontEconS.deniedSSD / homeFrontAdultDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled adults who refused to apply</td>
              <td md-cell>{{ homeFrontEconS.refusedSSD }}</td>
              <td md-cell>{{ (100 * homeFrontEconS.refusedSSD / homeFrontAdultDis.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Disabled adults who received/applied for disability</td>
              <td md-cell>{{ homeFrontEconS.appliedforSSD + homeFrontEconS.alreadySSD + homeFrontEconS.approvedSSDduringProgram + homeFrontEconS.deniedSSD }}</td>
              <td md-cell>{{ (100 * (homeFrontEconS.appliedforSSD + homeFrontEconS.alreadySSD + homeFrontEconS.approvedSSDduringProgram + homeFrontEconS.deniedSSD) / homeFrontAdultDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled children</td>
              <td md-cell>{{ homeFront_childDis.total }}</td>
              <td md-cell>{{ (100 * homeFront_childDis.total / homeFrontPeople.children) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled children already receiving benefits</td>
              <td md-cell>{{ homeFrontEconSMOH.alreadySSD }}</td>
              <td md-cell>{{ (100 * homeFrontEconSMOH.alreadySSD / homeFront_childDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled children who applied for benefits</td>
              <td md-cell>{{ homeFrontEconSMOH.appliedforSSD }}</td>
              <td md-cell>{{ (100 * homeFrontEconSMOH.appliedforSSD / homeFront_childDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled children approved for benefits</td>
              <td md-cell>{{ homeFrontEconSMOH.approvedSSDduringProgram }}</td>
              <td md-cell>{{ (100 * homeFrontEconSMOH.approvedSSDduringProgram / homeFront_childDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled children denied benefits</td>
              <td md-cell>{{ homeFrontEconSMOH.deniedSSD }}</td>
              <td md-cell>{{ (100 * homeFrontEconSMOH.deniedSSD / homeFront_childDis.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Disabled children who refused to apply</td>
              <td md-cell>{{ homeFrontEconSMOH.refusedSSD }}</td>
              <td md-cell>{{ (100 * homeFrontEconSMOH.refusedSSD / homeFront_childDis.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Disabled children receiving/applying for disability</td>
              <td md-cell>{{ homeFrontEconSMOH.alreadySSD + homeFrontEconSMOH.approvedSSDduringProgram + homeFrontEconSMOH.appliedforSSD + homeFrontEconSMOH.deniedSSD }}</td>
              <td md-cell>{{ (100 * (homeFrontEconSMOH.alreadySSD + homeFrontEconSMOH.approvedSSDduringProgram + homeFrontEconSMOH.appliedforSSD + homeFrontEconSMOH.deniedSSD) / homeFront_childDis.total ) | number:0  }}%</td>
            </tr>

          </tbody>
        </table>
<!-- Home Front: Strengthened Families ---------------------------->
        <table md-table ng-show="selectedoutcomes.indexOf('Strengthened Families') !== -1">
          <thead md-head>
            <tr md-row >
              <th md-column>Strengthened Families</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <!-- <tr class="boldrow" md-row>
              <td md-cell>Achieved a Parenting Goal</td>
              <td md-cell>{{ dobEMP.age18to22 }}</td>
              <td md-cell>{{ (100 * dobEMP.age18to22 / dobEMP.total ) | number:0  }}%</td>
            </tr> -->
            <tr md-row>
              <td md-cell>Completed Parenting Education (prior year)</td>
              <td md-cell>{{ homeFrontParentEdu_priorYr.completed }}</td>
              <td md-cell>{{ (100 * homeFrontParentEdu_priorYr.completed / homeFrontPeople.adult ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Completed Parenting Education (current year)</td>
              <td md-cell>{{ parentEduThisYear_HomeFront.total }}</td>
              <td md-cell>{{ (100 * parentEduThisYear_HomeFront.total / homeFrontPeople.adult ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Total completing Parenting Education</td>
              <td md-cell>{{ homeFrontParentEdu_priorYr.completed + parentEduThisYear_HomeFront.total }}</td>
              <td md-cell>{{ (100 * homeFront2ParentEdu.total / homeFrontPeople.adult ) | number:0  }}%</td>
            </tr>
            <!-- <tr class="boldrow" md-row>
              <td md-cell>Achieved a Budgeting Goal</td>
              <td md-cell>{{ dobEMP.age55to64 }}</td>
              <td md-cell>{{ (100 * dobEMP.age55to64 / dobEMP.total ) | number:0  }}%</td>
            </tr> -->
            <tr md-row>
              <td md-cell>Completed Budgeting Class (prior year)</td>
              <td md-cell>{{ budgetingEduYearBefore.homeFront }}</td>
              <td md-cell> {{ (100 * budgetingEduYearBefore.homeFront / homeFrontPeople.adult ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Completed Budgeting Class (current year)</td>
              <td md-cell> {{ homeFront_budgetingEduSameYear.total }}</td>
              <td md-cell>{{ (100 * homeFront_budgetingEduSameYear.total / homeFrontPeople.adult ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Total Completing Budgeting Class</td>
              <td md-cell> {{ homeFront_budgetingEdu.total }}</td>
              <td md-cell>{{ (100 * homeFront_budgetingEdu.total / homeFrontPeople.adult ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Families experiencing Family Violence</td>
              <td md-cell> {{ violentHomeFront.total }}</td>
              <td md-cell>{{ (100 * violentHomeFront.total / homeFrontPeople.family ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Families with a written Safety Plan</td>
              <td md-cell> {{ violentHomeFront.yesWithSafety }}</td>
              <td md-cell>{{ (100 * violentHomeFront.yesWithSafety / violentHomeFront.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Families residing in housing 1+ years</td>
              <td md-cell> {{ houseHomeFront.reside1year }}</td>
              <td md-cell></td>
            </tr>
            <tr md-row>
              <td md-cell>Completed Tenant Training (prior year)</td>
              <td md-cell> {{ tenantTrainingPriorYear.homeFront }}</td>
              <td md-cell>{{ (100 * tenantTrainingPriorYear.homeFront / houseHomeFront.reside1year ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Completed Tenant Training (current year)</td>
              <td md-cell> {{ tenantTrainingSameYear.homeFront }}</td>
              <td md-cell>{{ (100 * tenantTrainingSameYear.homeFront / houseHomeFront.reside1year ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Families in housing 1+ years completing Tenant Training</td>
              <td md-cell> {{ tenantTraining.homeFront }}</td>
              <td md-cell>{{ (100 * tenantTraining.homeFront / houseHomeFront.reside1year ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Completed DBT (prior year)</td>
              <td md-cell> {{ homeFrontDbtPriorYear.total }}</td>
              <td md-cell>{{ (100 * homeFrontDbtPriorYear.total / houseHomeFront.reside1year ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Completed DBT (current year)</td>
              <td md-cell> {{ homeFrontDbtSameYear.total }}</td>
              <td md-cell>{{ (100 * homeFrontDbtSameYear.total / houseHomeFront.reside1year ) | number:0  }}%</td>
            </tr>
            <!-- <tr md-row>
              <td md-cell>Currently participating in DBT</td>
              <td md-cell> {{ dobEMP.total }}</td>
              <td md-cell>{{ (100 * dobEMP.total / houseHomeFront.reside1year ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Dropped out of DBT and did not return</td>
              <td md-cell> {{ dobEMP.total }}</td>
              <td md-cell>{{ (100 * dobEMP.total / dobEMP.total ) | number:0  }}%</td>
            </tr> -->
            <tr md-row>
              <td md-cell>Adults in housing 1+ years completing DBT Skills</td>
              <td md-cell> {{ homeFrontDbt.total }}</td>
              <td md-cell>{{ (100 * homeFrontDbt.total / houseHomeFront.reside1year ) | number:0  }}%</td>
            </tr>
          </tbody>
        </table>

<!-- Home Front: Improved Health ---------------------------->
        <table md-table ng-show="selectedoutcomes.indexOf('Improved Health') !== -1">
          <thead md-head>
            <tr md-row >
              <th md-column>Improved Health</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Adults abusing substances</td>
              <td md-cell>{{ homeFrontHealthImp.total }}</td>
              <td md-cell>{{ (100 * homeFrontHealthImp.total / homeFrontPeople.adult ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Adults with a Rule 25 Assessment</td>
              <td md-cell>{{ homeFrontHealthImp.adultsHaveRuleAs }}</td>
              <td md-cell>{{ (100 * homeFrontHealthImp.adultsHaveRuleAs / homeFrontHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Adults attending CD treatment</td>
              <td md-cell>{{ homeFrontHealthImp.adultsCdTreatment }}</td>
              <td md-cell>{{ (100 * homeFrontHealthImp.adultsCdTreatment / homeFrontHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Adults attending self-help groups</td>
              <td md-cell>{{ homeFrontHealthImp.adultsSelfHelp }}</td>
              <td md-cell>{{ (100 * homeFrontHealthImp.adultsSelfHelp / homeFrontHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Adults maintaining sobriety for past 90 days</td>
              <td md-cell>{{ homeFrontHealthImp.sobrietyNinety }}</td>
              <td md-cell>{{ (100 * homeFrontHealthImp.sobrietyNinety / homeFrontHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Adults maintaining sobriety for past 6 months</td>
              <td md-cell>{{ homeFrontHealthImp.sobrietySixMo }}</td>
              <td md-cell>{{ (100 * homeFrontHealthImp.sobrietySixMo / homeFrontHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Adults maintaining sobriety for 12+ months</td>
              <td md-cell>{{ homeFrontHealthImp.sobrietyTwelvePlus }}</td>
              <td md-cell>{{ (100 * homeFrontHealthImp.sobrietyTwelvePlus / homeFrontHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Adults who abused substances achieving sobriety</td>
              <td md-cell>How is this different from 12 months?</td>
              <td md-cell>{{ (100 * homeFrontHealthImp.sobrietyTwelvePlus / homeFrontHealthImp.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Adults with MI diagnosis</td>
              <td md-cell>{{ adultMI_HomeFront.yesAndBeingTreated + adultMI_HomeFront.yesAndReferredForAssessment + adultMI_HomeFront.yesAndNotBeingTreated }}</td>
              <td md-cell>{{ (100 * (adultMI_HomeFront.yesAndBeingTreated + adultMI_HomeFront.yesAndReferredForAssessment + adultMI_HomeFront.yesAndNotBeingTreated) / homeFrontPeople.adult ) | number:0 }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Adults with MI diagnosis receiving treatment</td>
              <td md-cell>{{ adultMI_HomeFront.yesAndBeingTreated }}</td>
              <td md-cell>{{ (100 * adultMI_HomeFront.yesAndBeingTreated / (adultMI_HomeFront.yesAndBeingTreated + adultMI_HomeFront.yesAndReferredForAssessment + adultMI_HomeFront.yesAndNotBeingTreated) ) | number:0 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Adults with diagnosed MI referred for assessment</td>
              <td md-cell>{{ adultMI_HomeFront.yesAndReferredForAssessment }}</td>
              <td md-cell>{{ (100 * adultMI_HomeFront.yesAndReferredForAssessment / (adultMI_HomeFront.yesAndBeingTreated + adultMI_HomeFront.yesAndReferredForAssessment + adultMI_HomeFront.yesAndNotBeingTreated) ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Adults with undiagnosed MI referred for assessment</td>
              <td md-cell>{{ adultMI_HomeFront.undiagnosedReferredForAssessment }}</td>
              <td md-cell>{{ (100 * adultMI_HomeFront.undiagnosedReferredForAssessment / adultMI_HomeFront.total ) | number:0  }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Children with MI diagnosis</td>
              <td md-cell>{{ childMI_HomeFront.yesTreated + childMI_HomeFront.yesReferred + childMI_HomeFront.yesNotTreated }}</td>
              <td md-cell>{{ (100 * (childMI_HomeFront.yesTreated + childMI_HomeFront.yesReferred + childMI_HomeFront.yesNotTreated) / homeFrontPeople.children ) | number:0 }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Children with MI diagnosis receiving treatment</td>
              <td md-cell>{{ childMI_HomeFront.yesTreated }}</td>
              <td  md-cell>{{ (100 * childMI_HomeFront.yesTreated / (childMI_HomeFront.yesTreated + childMI_HomeFront.yesReferred + childMI_HomeFront.yesNotTreated) ) | number:0 }}%</td>
            </tr>
            <tr md-row>
              <td md-cell>Children with diagnosed MI referred for assessment</td>
              <td md-cell>{{ childMI_HomeFront.yesReferred }}</td>
              <td md-cell>{{ (100 * childMI_HomeFront.yesReferred / childMI_HomeFront.yesTreated + childMI_HomeFront.yesReferred + childMI_HomeFront.yesNotTreated ) | number:0  }}%</td>
            </tr>
            <tr class="boldrow" md-row>
              <td md-cell>Children with undiagnosed MI referred for assessment</td>
              <td md-cell>{{ childMI_HomeFront.undiagnosedReferred }}</td>
              <td md-cell>{{ (100 * childMI_HomeFront.undiagnosedReferred / homeFrontPeople.children ) | number:0  }}%</td>
            </tr>
          </tbody>
        </table>
<!-- Home Front: Community Connections ---------------------------->
        <table md-table ng-show="selectedoutcomes.indexOf('Community Connections') !== -1">
          <thead md-head>
            <tr md-row >
              <th md-column>Community Connections</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row class="boldrow">
              <td md-cell>Increased their social support</td>
              <td md-cell>{{ socialHomeFront.totalPeople }}</td>
              <td md-cell>{{ (100 * socialHomeFront.totalPeople / homeFrontPeople.family ) | number:0  }}%</td>
            </tr>
          </tbody>
        </table>
<!-- Home Front: Graduates ---------------------------->
        <table md-table>
          <thead md-head>
            <tr md-row >
              <th md-column>Graduates</th>
              <th md-column md-numeric>Number</th>
              <th md-column md-numeric>Percent</th>
            </tr>
          </thead>
          <tbody md-body>
            <!-- <tr md-row>
              <td md-cell>Persons graduating</td>
              <td md-cell>{{ earnedIncomeEMP.n0_499 }}</td>
              <td md-cell>{{ (100 * earnedIncomeEMP.n0_499 / earnedIncomeEMP.total ) | number:0  }}%</td>
            </tr>
            <tr md-row class="boldrow">
              <td md-cell>Retained housing at 6 months</td>
              <td md-cell>{{ earnedIncomeEMP.n500_999 }}</td>
              <td md-cell>{{ (100 * earnedIncomeEMP.n500_999 / earnedIncomeEMP.total ) | number:0  }}%</td>
            </tr> -->
          </tbody>

        </table>
      </md-table-container>
